<template>
  <v-container>
    <v-row>
      <v-col cols="9">
        <v-row dense class="mt-0">
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-subheader v-on="on" class="mt-0 pt-0 subtitle-1">
                CONSENSUS BUILDING APPROACH:
              </v-subheader>
            </template>
            Consensus calling is applied across samples that have the same germplasm name
          </v-tooltip>
        </v-row>

        <v-row dense class="mt-0">
          <v-col cols="6">
            <v-select
              v-model="selectedConsensus"
              :hint="selectedConsensus.description"
              :items="consensusOptions"
              label="Select"
              persistent-hint
              return-object
              single-line
            ></v-select>
          </v-col>
        </v-row>

        <v-row class="pt-5">
          <v-col cols="4">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-text-field
                  dense
                  filled
                  label="Consensus Threshold (%):"
                  class="pt-1"
                  :rules="[rules.min, rules.max]"
                  v-model="threshold"
                  type="number"
                  min="0"
                  max="100"
                  v-on="on"
                  value="50"
                  placeholder="50"
                ></v-text-field>
              </template>
              The percent threshold for a single genotype call to occur (from
              non-missing data) for a consensus call to be made
            </v-tooltip>
          </v-col>
          <v-col cols="3">
            <v-spacer />
            <v-btn
              class="ma-1"
              outlined
              color="accent"
              @click="applyConsensus"
              :loading="isConsensusOngoing"
              >apply</v-btn
            >
          </v-col>
          <v-col cols="4">
            <v-spacer />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="3">
        <v-card v-if="isDataReady">
          <v-card-text
            class="mt-50 success--text darken-1 font-weight-bold overline"
            >*This is only a preview of those that was consensus called. Please
            download to see the rest of the data.</v-card-text
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn small color="accent" @click="download">
              Download
              <v-icon>mdi-download</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" sm="12">
        <v-progress-linear
          v-show="isDataLoading"
          color="accent lighten-3"
          height="20"
          rounded
          :indeterminate="isNotFailed"
        >
         This might take a while, thank you for your patience.
        </v-progress-linear>
      </v-col>
    </v-row>

    <v-row v-if="finalConsensusProcess.length" no-gutters>
      <v-col>
        <p v-if="isNotFailed" class="success--text">
          <v-icon color="success" class="mr-2 pb-1">mdi-check-circle</v-icon>
          <strong>{{ finalConsensusProcess }}</strong>
        </p>

        <p v-else class="error--text">
          <v-icon color="error" class="mr-2 pb-1">mdi-alert-circle</v-icon>
          <strong>{{ finalConsensusProcess }}</strong>
        </p>
      </v-col>
      <v-col cols="6"></v-col>
      <v-col v-if="consensusParents.length > 0" cols="3" sm="3" class="ml-2">
        <v-select
          @change="updatePreview"
          v-model="defaultSelectedConsensusParent"
          :items="consensusParents"
          label="Consensus Parents"
        ></v-select>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3" sm="4">
        <v-card
          v-if="isDataLoading || processLabels.length > 0"
          height="300"
          max-height="300"
          class="mx-0 scrollable"
        >
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="subtitle-2">
                Consensus Processes:
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-timeline dense>
            <template v-for="(timelineItem, index) in processLabels">
              <v-timeline-item
                v-if="timelineItem.text.includes('FAILED')"
                color="error"
                :key="index"
                small
                class="caption error--text"
              >
                {{ timelineItem.text }}
              </v-timeline-item>
              <v-timeline-item
                v-else
                :key="index"
                small
                class="caption"
                :class="{
                  greyDot: !timelineItem.state,
                  greenDot: timelineItem.state,
                }"
              >
                {{ timelineItem.text }}
              </v-timeline-item>
            </template>
          </v-timeline>
        </v-card>
      </v-col>
      <v-col
          v-if="isDataReady" cols="12" sm="8">
        <PreviewConsensusTable
          :key="selectedConsensusParent.parentName"
          :parentSampleName="defaultSelectedConsensusParent"
          :selectedConsensusParent="selectedConsensusParent"
          :isDataReady="isDataReady"
          apiCallFunctionName="getConsensusDataPreview"
          @updateBaseSnackBarData="updateBaseSnackBarData($event)"
        />
      </v-col>
    </v-row>

    <BaseSnackbar
      v-if="errorOccurred"
      :text="baseSnackBarMessage"
      :type="baseSnackBarType"
      @resetErrorOccuredFlag="errorOccurred = false"
    />
  </v-container>
</template>
<script>
import BaseSnackbar from "@/components/shared/BaseSnackbar";
import { EventBus } from "../event-bus.js";

import ConsensusService from "@/services/local/ConsensusService";
import DownloadService from "@/services/local/DownloadService";
import KeycloakService from "@/services/auth/KeycloakService";

import { baseSnackbarMethods, downloadFileMethods } from "@/mixins/";

export default {
  name: "Consensus",

  data() {
    return {
      consensusParents: [],
      defaultSelectedConsensusParent: {},
      errorOccurred: false,
      finalConsensusProcess: "",
      latestStatus: "",
      isConsensusOngoing: false,
      isNotFailed: null,
      threshold: 50,
      labelStatus: null,
      previousProcess: "",
      processLabels: [],
      apiCallFunctionName: null,
      rules: {
        min: (value) => value >= 0 || "Minimum value is 0",
        max: (value) => value <= 100 || "Maximum value is 100",
      },
      selectedConsensusParent: null,
      selectedConsensus: consensusOptions[1],
      consensusOptions: consensusOptions
    };
  },

  mounted() {
    EventBus.$on("resetConsensusPage", this.resetPage);
  },

  computed: {
    isDataLoading() {
      return this.labelStatus !== null;
    },
    isDataReady() {
      //this.labelStatus==="FILTER-GENOTYPES-COMPLETED"
      return this.labelStatus === null && this.apiCallFunctionName !== null;
    },
  },

  components: {
    BaseSnackbar,
    PreviewConsensusTable: () =>
      import(/* webpackChunkName: "PreviewConsensusTable" */ "@/components/PreviewConsensusTable"),
  },

  methods: {
    applyConsensus: async function() {
      this.isNotFailed = true;
      this.isConsensusOngoing = true;
      this.apiCallFunctionName = null;
      this.finalConsensusProcess = "";
      this.latestStatus = ""

      if (this.processLabels.length > 0) {
        this.processLabels = [];
        this.previousProcess = "";
      }

      const thresholdInDecimal = this.threshold / 100;
      const filters = {
        taskType: "CONSENSUS-CALLING",
        variantSetDbIds: this.$store.getters.getVariantSetsIds,
        consensusThreshold: thresholdInDecimal,
      };

      if (this.$store.getters.isFiltered) {
        filters.filterTaskId = this.$store.state.filterDetail.taskId;
      }

      if (this.consensusParents.length) this.consensusParents = [];

      try {
        const response = await ConsensusService.consensusCalling(filters);
        if (response) {
          this.$store.dispatch("setPageOnChangeAction", "consensus");

          const consensusDetails = {
            taskId: response.data.taskId,
            taskStatusRefLink: response.data.taskStatusRefLink,
            consensusThreshold: filters.consensusThreshold,
          };

          this.$store.dispatch("setConsensusDetailAction", consensusDetails);
          this.checkConsensusStatus();
        }
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error applying consensus",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    checkConsensusStatus: async function() {
      const consensusDetail = this.$store.state.consensusDetail;
      try {
        const response = await ConsensusService.checkConsensusStatus(
          consensusDetail.taskStatusRefLink
        );



        if (response && response.data.state === "CONSENSUS-CALLING-COMPLETED") {
          this.$store.dispatch(
            "setConsensusDownloadUrlAction",
            response.data.status.fileDownloadUrl
          );
        }

        let timelineItem;
        /**
         * For displaying the Consensus processes in v-timeline, each v-timeline-item
         * has a text and state, that will be pushed in the processLabels array.
         * Initially the state is false, meaning the process is still ongoing
         * and the color will be grey. When the labelStatus changes, the
         * previous process' (previous labelStatus) state will be set
         * to true, indicating the finished process of the previous
         * process and changing the color from grey to success.
         * And the loop continues until the Consensus process is done.
         */

        if (response.status === 200) {
          this.labelStatus = response.data.state;
          this.latestStatus= response.data.status;

          if (this.previousProcess === "") {
            this.previousProcess = this.labelStatus;
            if (!this.processLabels.some((e) => e.text === this.labelStatus)) {
              timelineItem = {
                text: this.labelStatus,
                state: false,
              };
              this.processLabels.push(timelineItem);
            } else if (this.previousProcess !== this.labelStatus) {
              this.processLabels.find(
                (ti) => ti.text === this.previousProcess
              ).state = true;
              this.previousProcess = this.labelStatus;
              if (
                !this.processLabels.some((e) => e.text === this.labelStatus)
              ) {
                timelineItem = {
                  text: this.labelStatus,
                  state: false,
                };
                this.processLabels.push(timelineItem);
              }
            }
          }

          if (response.data.status) {
            this.labelStatus += " : ";
            if (response.data.status.status) {
              this.labelStatus += response.data.status.status;

              if (this.previousProcess !== this.labelStatus) {
                this.processLabels.find(
                  (ti) => ti.text === this.previousProcess
                ).state = true;
                this.previousProcess = this.labelStatus;
                if (
                  !this.processLabels.some((e) => e.text === this.labelStatus)
                ) {
                  timelineItem = {
                    text: this.labelStatus,
                    state: false,
                  };
                  this.processLabels.push(timelineItem);
                }
              }
            }
          }

          if (response.data.state === "CONSENSUS-CALLING-COMPLETED") {
            if (!this.processLabels.some((e) => e.text === "DONE")) {
              this.processLabels.find(
                (ti) => ti.text === this.previousProcess
              ).state = true;
              timelineItem = {
                text: "DONE",
                state: true,
              };
              this.processLabels.push(timelineItem);
            }

            this.labelStatus = null;
            this.previousProcess = "";

            this.apiCallFunctionName = "getConsensusDataPreview";
            this.isConsensusOngoing = false;
            /**
             * // Remove comment to show detailed final result
             * this.finalConsensusProcess = this.processLabels.slice(-2)[0].text;
             */
            this.finalConsensusProcess = "Successful!";

            this.showConsensusParents(response.data.status.consensusParents);
          } else if (response.data.state.includes("FAILED")) {
            if (!this.previousProcess.includes("FAILED")) {
              this.processLabels.find(
                (ti) => ti.text === this.previousProcess
              ).state = true;
            }
            this.previousProcess = response.data.state;
            if (
              !this.processLabels.some((e) => e.text === response.data.state)
            ) {
              timelineItem = {
                text: response.data.state,
                state: response.data.status,
              };
              this.processLabels.push(timelineItem);
            }
            this.isNotFailed = false;
            this.labelStatus = null;
            if (!this.processLabels.some((e) => e.text === "FAILED")) {
              timelineItem = {
                text: "FAILED",
                state: null,
              };

              this.processLabels.push(timelineItem);
            }

            this.isConsensusOngoing = false;
            /**
             * // Remove comment to show detailed final result
             * this.finalConsensusProcess = this.processLabels.slice(-2)[0].text;
             */
            this.finalConsensusProcess = this.latestStatus;
            this.$store.dispatch("setConsensusDetailAction", null);
            if(response.data.status && response.data.status === "system error"){ //Usually happens when the python APIs cannot connect to the BrAPI URL, so logout user and login again.

            this.finalConsensusProcess = "Session Expired, please login again.";


            KeycloakService.logoutRedirect();

            }
          } else setTimeout(() => this.checkConsensusStatus(), 200);
        } else {
          const snackBarDetails = {
            errorMessage: "Something went wrong",
            type: "error",
            error: null,
          };
          this.updateBaseSnackBarData(snackBarDetails);
        }
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Something went wrong",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    download: async function() {
      try {
        const consensusDownloadUrl = this.$store.state.consensusDownload;
        const response = await DownloadService.downloadData(
          consensusDownloadUrl
        );
        this.downloadFile(response.data, "consensusData.csv");
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error in downloading file",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    showConsensusParents: function(consensusParents) {
      /**
       * If the response body after applying Consensus has consensusParents,
       * the consensusParents array of objects will be manipulated for the
       * v-select element, having text and value as properties per object.
       */
      if (consensusParents.length) {
        this.consensusParents = consensusParents.map((cp) => {
          const cpItem = {
            parentName: cp.parentName,
            genotypesUrl: cp.genotypesUrl,
          };
          return { text: cpItem.parentName, value: cpItem };
        });

        this.$store.dispatch(
          "setConsensusParentsAction",
          this.consensusParents
        );

        /**
         * This is for setting the initial selected Consensus Parent
         * to the v-select and using that to show the Consensus
         * Preview Table. This is on the first run only.
         */

        this.$store.dispatch(
          "setConsensusParentAction",
          consensusParents.length
        );
        this.defaultSelectedConsensusParent = this.consensusParents[0].value;
        this.updatePreview(this.defaultSelectedConsensusParent);
      } else {
        this.$store.dispatch("setConsensusParentAction", 0);
        this.updatePreview(null);
      }
    },
    updatePreview: function(selectedConsensusParent) {
      /**
       * Using the selected Consensus Parent from v-select to update the Consensus
       * Preview Table
       */
      this.selectedConsensusParent = selectedConsensusParent;
    },
    resetPage: function() {
      this.threshold = 50;
      this.labelStatus = null;
      this.apiCallFunctionName = null;
      this.previousProcess = "";
      this.processLabels = [];
      this.consensusParents = [];
      this.defaultSelectedConsensusParent = {};
      this.finalConsensusProcess = "";
      this.isNotFailed = null;
      this.selectedConsensusParent = null;
    },
  },
  mixins: [baseSnackbarMethods, downloadFileMethods],
};

const consensusOptions = [
  {
    text: 'majority genotype',
    value: 'radio1',
    description: 'unimplemented',
    disabled: true
  },
  {
    text: 'majority genotype favoring homozygotes (parents only)',
    value: 'radio2',
    description: 'Consensus calls will be applied to samples with the same germplasm name and identified as parents in the input file.'
      + 'If there are equal numbers of homozygous and heterozygous calls, the consensus will be the homozygous call'
  },
  {
    text: 'majority genotype, homozygous parent, and similarity imputation',
    value: 'radio3',
    description: 'unimplemented',
    disabled: true
  },
  {
    text: 'majority genotype, homozygous parent, and similarity imputation with recursion',
    value: 'radio4',
    description: 'unimplemented',
    disabled: true
  },
];
</script>

<style scoped>
.scrollable {
  overflow-y: auto;
}

.greenDot >>> .primary {
  background-color: #40a186 !important;
  border-color: #40a186 !important;
}

.greyDot >>> .primary {
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}
</style>
