<template>
  <div>
    <v-row>
      <template v-for="variantSet in getVariantSets">
        <v-col :key="variantSet.matrixDbId" cols="12">
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-chip
                class="accent lighten-1"
                v-on="on"
                @click="
                  downloadVariantset(variantSet.matrixDbId, variantSet.name)
                "
              >
                {{ variantSet.name }}
                <v-avatar right>
                  <v-icon color="white">mdi-download</v-icon>
                </v-avatar>
              </v-chip>
            </template>
            <span>Download Variantset</span>
          </v-tooltip>

          <span class="ml-4">
            <v-progress-circular
              v-if="
                downloadingVariantset &&
                  currentlyDownloading === variantSet.matrixDbId
              "
              indeterminate
              color="accent lighten-1"
            ></v-progress-circular>
          </span>
        </v-col>
      </template>
    </v-row>

    <v-row>
      <v-col cols="8">
        <v-card v-if="isFilteredWithResult" elevation="0" class="pt-20">
          <v-list-item>
            <v-list-item-avatar size="36" color="white">
              <v-icon color="primary">mdi-check-all</v-icon>
            </v-list-item-avatar>

            <v-list-item-action>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" @click="downloadFilteredData">
                    <v-icon v-if="!isFilterDataDownloading" color="accent"
                      >mdi-download</v-icon
                    >
                    <v-progress-circular
                      v-else
                      :size="20"
                      color="accent"
                      indeterminate
                    ></v-progress-circular>
                  </v-btn>
                </template>
                <span>Download Filtered Data</span>
              </v-tooltip>
            </v-list-item-action>

            <v-list-item-content class="ml-3" style="padding-left: 2px;">
              <v-list-item-title class="subtitle-2"
                >Filtered data:</v-list-item-title
              >
              <v-list-item-subtitle
                >markers > {{ getMarkerCallRate }}</v-list-item-subtitle
              >
              <v-list-item-subtitle
                >samples > {{ getSampleCallRate }}</v-list-item-subtitle
              >
            </v-list-item-content>

            <span class="success--text font-weight-bold mr-3">
              {{ getMarkersRemaining }}
            </span>

            <v-list-item-content>
              <v-list-item-title>markers remaining</v-list-item-title>
              <v-list-item-subtitle
                >({{ getMarkersExcluded }} excluded)</v-list-item-subtitle
              >
            </v-list-item-content>

            <span class="success--text font-weight-bold mr-3">
              {{ getSamplesRemaining }}
            </span>

            <v-list-item-content>
              <v-list-item-title class="subtitle-2"
                >samples remaining</v-list-item-title
              >
              <v-list-item-subtitle
                >({{ getSamplesExcluded }} excluded)</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-card>

        <v-card v-if="isConsensusCalled" elevation="0" class="pt-20">
          <v-list-item>
            <v-list-item-avatar size="36" color="white">
              <v-icon color="primary">mdi-check-all</v-icon>
            </v-list-item-avatar>

            <v-list-item-action>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on" @click="downloadConsensusData">
                    <v-icon v-if="!isConsensusDataDownloading" color="accent"
                      >mdi-download</v-icon
                    >
                    <v-progress-circular
                      v-else
                      :size="20"
                      color="accent"
                      indeterminate
                    ></v-progress-circular>
                  </v-btn>
                </template>
                <span>Download Consensus Data</span>
              </v-tooltip>
            </v-list-item-action>
            <v-list-item-content class="ml-3">
              <v-list-item-title class="subtitle-2"
                >Consensus Calling</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-card>

        <div
          v-if="isConsensusCalled"
          class="body-2 grey--text text--darken-1 indented ml-3"
        >
          <p>Consensus threshold: {{ getConsensusThreshold }}</p>
          <p>Consensus Parents:</p>
          <v-list dense>
            <v-list-item
              v-for="(consensusParentName, index) in getConsensusParents"
              :key="index"
            >
              <v-list-item-icon>
                <v-icon color="primary">mdi-circle-small</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-subtitle class="caption grey--text text--darken-1">
                  {{ consensusParentName }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </div>

        <template v-if="isSplit && hasSplitDownloadUrl">
          <!-- <template v-if="isSplit"> -->
          <v-card elevation="0" class="pt-20">
            <v-list-item>
              <v-list-item-avatar size="36" color="white">
                <v-icon color="primary">mdi-check-all</v-icon>
              </v-list-item-avatar>
              <v-list-item-action class="mr-3">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" @click="downloadSplitData">
                      <!-- <v-btn
                      v-if="hasSplitDownloadUrl"
                      icon
                      v-on="on"
                      @click="downloadSplitData"
                    > -->
                      <v-icon v-if="!isSplitDataDownloading" color="accent"
                        >mdi-download</v-icon
                      >
                      <v-progress-circular
                        v-else
                        :size="20"
                        color="accent"
                        indeterminate
                      ></v-progress-circular>
                    </v-btn>
                  </template>
                  <span>Download Flapjack File</span>
                </v-tooltip>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="subtitle-2"
                  >Selected split column(s):</v-list-item-title
                >
              </v-list-item-content>
              <v-list-item-content v-if="isMapsetSelected">
                <v-list-item-title class="subtitle-2">Map:</v-list-item-title>
                <v-list-item-subtitle>{{ getMapName }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card>

          <v-card
            v-if="isSplit && hasSplitDownloadUrl"
            elevation="0"
            class="pt-20 pl-3"
          >
            <!-- <v-card elevation="0" class="pt-20 pl-3"> -->
            <template v-for="splitColumn in getSplitColumns">
              <p
                :key="splitColumn"
                class="body-2 grey--text text--darken-1 indented"
              >
                {{ splitColumn }}
              </p>
            </template>
          </v-card>
        </template>
      </v-col>

      <v-spacer></v-spacer>

      <div class="download-flapjack-warning">
        <p v-if="isSplit && !hasSplitDownloadUrl" class="accent--text overline">
          * {{ splitWarningForNoConsensus }}
        </p>
      </div>
    </v-row>
    <v-row v-if="isSplit">
      <v-col cols="8">
        <Summary heading="Summary" />
      </v-col>
    </v-row>
    <BaseSnackbar
      v-if="errorOccurred"
      :text="baseSnackBarMessage"
      :type="baseSnackBarType"
      @resetErrorOccuredFlag="errorOccurred = false"
    />
  </div>
</template>

<script>
import BaseSnackbar from "./shared/BaseSnackbar";

import { mapGetters } from "vuex";

import DownloadService from "@/services/local/DownloadService";

import Summary from "@/components/shared/Summary";

import { baseSnackbarMethods, downloadFileMethods } from "@/mixins/";

export default {
  name: "Export",
  data: function() {
    return {
      currentlyDownloading: false,
      downloadingVariantset: false,
      isFilterDataDownloading: false,
      isConsensusDataDownloading: false,
      isSplitDataDownloading: false,
      errorOccurred: false,
    };
  },
  computed: {
    hasSplitDownloadUrl() {
      return this.$store.state.splitDownload;
    },
    splitWarningForNoConsensus() {
      return this.$store.state.splitWarningForNoConsensus;
    },
    ...mapGetters([
      "getConsensusParents",
      "getConsensusThreshold",
      "getVariantSets",
      "isConsensusCalled",
      "isFilteredWithResult",
      "isSplit",
      "isMapsetSelected",
      "getMarkerCallRate",
      "getMarkersExcluded",
      "getMarkersRemaining",
      "getSampleCallRate",
      "getSamplesExcluded",
      "getSamplesRemaining",
      "getSplitColumns",
      "getMapName",
    ]),
  },
  components: {
    BaseSnackbar,
    Summary,
  },
  methods: {
    downloadConsensusData: async function() {
      this.isConsensusDataDownloading = true;
      try {
        const consensusDownloadUrl = this.$store.state.consensusDownload;
        const response = await DownloadService.downloadData(
          consensusDownloadUrl
        );
        this.downloadFile(response.data, "consensusData.tsv");
        this.isConsensusDataDownloading = false;
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error in downloading file",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    downloadVariantset: async function(variantSetId, variantSetName) {
      this.currentlyDownloading = variantSetId;
      this.downloadingVariantset = true;

      try {
        const variantDbId = variantSetId;
        const response = await DownloadService.downloadVariantset(variantDbId);
        let filename = variantSetName + "variantset.csv";
        this.downloadFile(response.data, filename);
        this.downloadingVariantset = false;
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error in downloading file",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    downloadFilteredData: async function() {
      this.isFilterDataDownloading = true;
      try {
        const filterDownloadUrl = this.$store.state.filterDownload;
        const response = await DownloadService.downloadData(filterDownloadUrl);
        this.downloadFile(response.data, "filteredVariantset.csv");
        this.isFilterDataDownloading = false;
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error in downloading file",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    downloadSplitData: async function() {
      this.isSplitDataDownloading = true;
      try {
        const splitDownloadUrl = this.$store.state.splitDownload;
        const response = await DownloadService.downloadData(splitDownloadUrl);
        this.downloadFile(response.data, "output.flapjack");
        this.isSplitDataDownloading = false;
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error in downloading file",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
  },
  mixins: [baseSnackbarMethods, downloadFileMethods],
};
</script>

<style scoped>
.indented {
  padding-left: 7rem;
}

.download-flapjack-warning {
  position: fixed;
  bottom: 50px;
  right: 10px;
}
</style>
