<template>
  <v-container>
    <v-row dense>
      <v-col cols="6" sm="5" md="4">
        <p>Filter by minimum percent of data for markers and/or samples.</p>
        <v-form>
          <v-row dense>
            <v-col cols="3" sm="3" md="5">
              <v-subheader class="pa-0 subtitle-1 text-right"
                >PERCENT MARKER DATA</v-subheader
              >
            </v-col>
            <v-col cols="8" sm="8" md="6" lg="5">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-on="on"
                    class="ml-md-2 ml-sm-12 pt-1"
                    dense
                    solo
                    prepend-icon="mdi-greater-than"
                    :rules="[rules.min, rules.max]"
                    v-model.number="markerPercentage"
                    append-outer-icon="mdi-percent"
                    min="0"
                    max="100"
                  >
                  </v-text-field>
                </template>
                <span>Select marker call rate greater than this %</span>
              </v-tooltip>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="3" sm="3" md="5">
              <v-subheader class="pa-0 subtitle-1 text-right"
                >PERCENT SAMPLE DATA</v-subheader
              >
            </v-col>
            <v-col cols="8" sm="8" md="6" lg="5">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-on="on"
                    class="ml-md-2 ml-sm-12 pt-1"
                    dense
                    solo
                    prepend-icon="mdi-greater-than"
                    :rules="[rules.min, rules.max]"
                    v-model.number="samplePercentage"
                    append-outer-icon="mdi-percent"
                    min="0"
                    max="100"
                  >
                  </v-text-field>
                </template>
                <span>Select sample call rate greater than this %</span>
              </v-tooltip>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-spacer />
            </v-col>
            <v-col cols="4">
              <v-btn
                v-if="hasPercentageValue && isPercentageInProperRange"
                :loading="isFilterOngoing"
                class="ma-2"
                outlined
                color="accent"
                @click="applyFilter"
                >apply</v-btn
              >
            </v-col>
          </v-row>
        </v-form>
      </v-col>
      <v-col cols="1"></v-col>
      <v-col cols="8" sm="7" md="7" v-if="isFilteredDataReady">
        <v-card class="mx-0">
          <v-list-item>
            <v-list-item-avatar size="36">
              <v-icon color="primary">mdi-check-all</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="subtitle-2"
                >Selected:</v-list-item-title
              >
              <v-list-item-subtitle v-show="storedMarker"
                >markers > {{ storedMarker }} %</v-list-item-subtitle
              >
              <v-list-item-subtitle v-show="storedSample"
                >samples > {{ storedSample }} %</v-list-item-subtitle
              >
            </v-list-item-content>

            <span class="success--text font-weight-bold mr-3">
              {{ getTotalMarkersLeft }}
            </span>

            <v-list-item-content>
              <v-list-item-title>markers remaining</v-list-item-title>
              <v-list-item-subtitle
                >({{ filtered_markers_count }} excluded)</v-list-item-subtitle
              >
            </v-list-item-content>

            <span class="success--text font-weight-bold mr-3">
              {{ getTotalSamplesLeft }}
            </span>

            <v-list-item-content>
              <v-list-item-title class="subtitle-2"
                >samples remaining</v-list-item-title
              >
              <v-list-item-subtitle
                >({{ filtered_samples_count }} excluded)</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>

          <v-card-text
            v-show="filteringCriteria"
            class="font-weight-bold overline"
            >{{ filteringCriteria }}</v-card-text
          >

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :loading="isLoading" small color="accent" @click="download">
              Download
              <v-icon>mdi-download</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" sm="12">
        <v-progress-linear
          v-if="isDataLoading"
          color="accent lighten-3"
          height="20"
          rounded
          :indeterminate="isNotFailed"
        >
        This might take a while, thank you for your patience.
        </v-progress-linear>
      </v-col>
    </v-row>

    <v-row v-if="finalFilterProcess.length" no-gutters>
      <v-col cols="2">
        <p v-if="isFilteredDataReady" class="success--text">
          <v-icon color="success" class="mr-2 pb-1">mdi-check-circle</v-icon>
          <strong>{{ finalFilterProcess }}</strong>
        </p>

        <p v-else class="error--text">
          <v-icon color="error" class="mr-2 pb-1">mdi-alert-circle</v-icon>
          <strong>{{ finalFilterProcess }}</strong>
        </p>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="4" sm="4">
        <v-card
          v-if="isDataLoading || processLabels.length > 0"
          height="312"
          max-height="312"
          class="mx-0 scrollable"
        >
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="subtitle-2"
                >Filter Processes:</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>

          <v-timeline dense>
            <template v-for="(timelineItem, index) in processLabels">
              <v-timeline-item
                v-if="timelineItem.text.includes('FAILED')"
                color="error"
                :key="index"
                small
                class="caption error--text"
              >
                {{ timelineItem.text }}
              </v-timeline-item>
              <v-timeline-item
                v-else
                :key="index"
                small
                class="caption"
                :class="{
                  greyDot: !timelineItem.state,
                  greenDot: timelineItem.state,
                }"
              >
                {{ timelineItem.text }}
              </v-timeline-item>
            </template>
          </v-timeline>
        </v-card>
      </v-col>
      <v-col cols="8" sm="8">
        <PreviewDataTable
          v-show="isFilteredDataReady"
          apiCallFunctionName="getFilteredDataPreview"
          @updateBaseSnackBarData="updateBaseSnackBarData($event)"
        />
      </v-col>
    </v-row>

    <BaseSnackbar
      v-if="errorOccurred"
      :text="baseSnackBarMessage"
      :type="baseSnackBarType"
      @resetErrorOccuredFlag="errorOccurred = false"
    />
  </v-container>
</template>

<script>
import BaseSnackbar from "./shared/BaseSnackbar";
import { EventBus } from "../event-bus.js";

import DownloadService from "@/services/local/DownloadService";
import FilterService from "@/services/local/FilterService";
import KeycloakService from "@/services/auth/KeycloakService";

import { baseSnackbarMethods, downloadFileMethods } from "@/mixins/";

export default {
  name: "FilterData",
  data() {
    return {
      previousProcess: "",
      isFilterOngoing: false,
      isLoading: false,
      isNotFailed: null,
      labelStatus: null,
      processLabels: [],
      markerPercentage: null,
      samplePercentage: null,
      apiCallFunctionName: null,
      storedMarker: null,
      storedSample: null,
      total_samples_count: 0,
      total_markers_count: 0,
      errorOccurred: false,
      filtered_markers_count: 0,
      filtered_samples_count: 0,
      filteringCriteria: false,
      finalFilterProcess: "",
      rules: {
        min: (value) => value >= 0 || "Minimum value is 0",
        max: (value) => value <= 100 || "Maximum value is 100",
      },
    };
  },
  mounted() {
    EventBus.$on("resetFilterPage", this.resetPage);
  },
  computed: {
    isDataLoading() {
      return this.labelStatus !== null;
    },
    isFilteredDataReady() {
      //this.labelStatus==="FILTER-GENOTYPES-COMPLETED"
      return this.labelStatus === null && this.apiCallFunctionName !== null;
    },
    hasPercentageValue() {
      /**
       * APPLY button will not be shown if both input fields are null or empty string.
       * Clearing the value of the an input field does not return the variable to
       * null, instead to an empty string. Ergo the need to check for both
       * empty string and null values.
       */
      if (
        (this.markerPercentage === "" || this.markerPercentage === null) &&
        (this.samplePercentage === "" || this.samplePercentage === null)
      )
        return false;
      else return true;
    },
    isPercentageInProperRange() {
      const markerPercentageBetween0and100 =
        this.markerPercentage >= 0 && this.markerPercentage <= 100;
      const samplePercentageBetween0and100 =
        this.samplePercentage >= 0 && this.samplePercentage <= 100;

      if (markerPercentageBetween0and100 && samplePercentageBetween0and100)
        return true;
      else return false;
    },
    getTotalSamplesLeft() {
      return this.total_samples_count - this.filtered_samples_count;
    },
    getTotalMarkersLeft() {
      return this.total_markers_count - this.filtered_markers_count;
    },
  },
  components: {
    BaseSnackbar,
    PreviewDataTable: () =>
      import(/* webpackChunkName: "PreviewDataTable" */ "@/components/PreviewDataTable"),
  },
  methods: {
    applyFilter: async function() {
      this.isFilterOngoing = true;
      this.apiCallFunctionName = null;
      this.finalFilterProcess = "";

      if (this.processLabels.length > 0) {
        this.processLabels = [];
        this.previousProcess = "";
      }

      this.reset();

      /**
       * No need to handle string/null values for this because
       * string/number or null/number is always zero.
       */
      let marker = this.markerPercentage / 100;
      let sample = this.samplePercentage / 100;

      const filters = {
        taskType: "FILTER-GENOTYPES",
        variantSetDbIds: this.$store.getters.getVariantSetsIds,
        sampleCallRate: sample.toString(),
        markerCallRate: marker.toString(),
      };

      this.storedSample = (sample * 100).toFixed();
      this.storedMarker = (marker * 100).toFixed();

      try {
        const response = await FilterService.filterVariantset(filters);
        if (response) {
          this.$store.dispatch("setPageOnChangeAction", "filter");

          const filterDetail = {
            taskId: response.data.taskId,
            taskStatusRefLink: response.data.taskStatusRefLink,
            markerCallRate: filters.markerCallRate,
            sampleCallRate: filters.sampleCallRate,
          };

          this.$store.dispatch("setFilterDetailAction", filterDetail);
          this.checkFilterStatus();
        }
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error applying filter",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    checkFilterStatus: async function() {
      const filterDetail = this.$store.state.filterDetail;
      try {
        const response = await FilterService.checkFilterStatus(
          filterDetail.taskStatusRefLink
        );
        if (response && response.data.state === "FILTER-GENOTYPES-COMPLETED") {
          this.$store.dispatch(
            "setFilterPreviewUrlAction",
            response.data.status.filePreviewUrl
          );
          this.$store.dispatch(
            "setFilterDownloadUrlAction",
            response.data.status.fileDownloadUrl
          );
        }

        let timelineItem;
        /**
         * For displaying the Filter processes in v-timeline, each v-timeline-item
         * has a text and state, that will be pushed in the processLabels array.
         * Initially the state is false, meaning the process is still ongoing
         * and the color will be grey. When the labelStatus changes, the
         * previous process' (previous labelStatus) state will be set
         * to true, indicating the finished process of the previous
         * process and changing the color from grey to success.
         * And the loop continues until the Filter process is done.
         */
        console.log(response.data)

        if (response.status === 200) {
          this.labelStatus = response.data.state;

          if (this.previousProcess === "") {
            this.previousProcess = this.labelStatus;
            if (!this.processLabels.some((e) => e.text === this.labelStatus)) {
              timelineItem = {
                text: this.labelStatus,
                state: false,
              };
              this.processLabels.push(timelineItem);
            }
          } else if (this.previousProcess !== this.labelStatus) {
            this.processLabels.find(
              (ti) => ti.text === this.previousProcess
            ).state = true;
            this.previousProcess = this.labelStatus;
            if (!this.processLabels.some((e) => e.text === this.labelStatus)) {
              timelineItem = {
                text: this.labelStatus,
                state: false,
              };
              this.processLabels.push(timelineItem);
            }
          }

          if (response.data.status) {
            this.labelStatus += " : ";
            if (response.data.status.status) {
              this.labelStatus += response.data.status.status;
              if (this.previousProcess !== this.labelStatus) {
                this.processLabels.find(
                  (ti) => ti.text === this.previousProcess
                ).state = true;
                this.previousProcess = this.labelStatus;
                if (
                  !this.processLabels.some((e) => e.text === this.labelStatus)
                ) {
                  timelineItem = {
                    text: this.labelStatus,
                    state: false,
                  };
                  this.processLabels.push(timelineItem);
                }
              }
            }
          }

          if (response.data.state === "FILTER-GENOTYPES-COMPLETED") {
            if (!this.processLabels.some((e) => e.text === "DONE")) {
              this.processLabels.find(
                (ti) => ti.text === this.previousProcess
              ).state = true;
              timelineItem = {
                text: "DONE",
                state: true,
              };
              this.processLabels.push(timelineItem);
            }

            this.labelStatus = null;
            this.previousProcess = "";
            this.updatePreview();
            this.apiCallFunctionName = "getFilteredDataPreview";

            this.total_samples_count = response.data.status.totalSamplesCount;
            this.total_markers_count = response.data.status.totalMarkersCount;

            this.filtered_markers_count =
              response.data.status.filteredMarkersCount;
            this.filtered_samples_count =
              response.data.status.filteredSamplesCount;

            const filterResult = {
              markersRemaining: this.getTotalMarkersLeft,
              markersExcluded: this.filtered_markers_count,
              samplesRemaining: this.getTotalSamplesLeft,
              samplesExcluded: this.filtered_samples_count,
            };

            this.$store.dispatch("setFilterResultAction", filterResult);
            this.isFilterOngoing = false;
            this.isNotFailed = true;
            /**
             * // Remove comment to show detailed final result
             * this.finalFilterProcess = this.processLabels.slice(-2)[0].text;
             */
            this.finalFilterProcess = "Successful!";
          } else if (response.data.state.includes("FAILED")) {
            console.log(response)
            

            if (!this.previousProcess.includes("FAILED")) {
              this.processLabels.find(
                (ti) => ti.text === this.previousProcess
              ).state = true;
            }
            this.previousProcess = response.data.state;
            if (
              !this.processLabels.some((e) => e.text === response.data.state)
            ) {
              timelineItem = {
                text: response.data.state,
                state: null,
              };
              this.processLabels.push(timelineItem);
            }

            this.isNotFailed = false;
            this.isFilterOngoing = false;
            if (!this.processLabels.some((e) => e.text === "FAILED")) {
              timelineItem = {
                text: "FAILED",
                state: null,
              };
              this.processLabels.push(timelineItem);
            }
            /**
             * // Remove comment to show detailed final result
             * this.finalFilterProcess = this.processLabels.slice(-2)[0].text;
             */
            
            this.finalFilterProcess = "Failed";
            if(response.data.status && response.data.status === "system error"){ //Usually happens when the python APIs cannot connect to the BrAPI URL, so logout user and login again.
            
            this.finalFilterProcess = "Session Expired, please login again.";
             

            KeycloakService.logoutRedirect();

            }
              
              } else setTimeout(() => this.checkFilterStatus(), 200);
        } else {
          

          const snackBarDetails = {
            errorMessage: "Something went wrong",
            type: "error",
            error: null,
          };
          this.updateBaseSnackBarData(snackBarDetails);
           
        }
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Something went wrong",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    download: async function() {
      this.isLoading = true;
      try {
        const filterDownloadUrl = this.$store.state.filterDownload;
        const response = await DownloadService.downloadData(filterDownloadUrl);
        this.downloadFile(response.data, "filteredVariantset.tsv");
        this.isLoading = false;
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error in downloading file",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    reset: function() {
      this.storedSample = null;
      this.storedMarker = null;
      this.isNotFailed = true;
      this.finalFilterProcess;
    },
    resetPage: function() {
      this.labelStatus = null;
      this.markerPercentage = null;
      this.samplePercentage = null;
      this.apiCallFunctionName = null;
      this.processLabels = [];
      this.previousProcess = "";
      this.finalFilterProcess = "";
      this.isNotFailed = null;
    },
    updatePreview: function() {
      EventBus.$emit("updatePreviewDataTable");
    },
  },
  mixins: [baseSnackbarMethods, downloadFileMethods],
};
</script>

<style scoped>
.scrollable {
  overflow-y: auto;
}

.greenDot >>> .primary {
  background-color: #40a186 !important;
  border-color: #40a186 !important;
}

.greyDot >>> .primary {
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}
</style>
