<template>
  <v-container>
    <v-row>
      <v-col>


        <v-row>
          <v-col cols="10">
            <Multiple
              v-on:select="updateSelectedStudy"
              label="Studies"
              :itemList="studyItemList"
              :singleVariantSet="singleVariantSet"
              :singleMapset="singleMapset"
              @invalidVariantsetsLength="handleInvalidVariantsetsLength"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="10">
            <!-- Note: changed 'Datasets' to 'Variantsets' -->
            <Multiple
              :onHold="onHold"
              v-on:select="updateSelectedVariantset"
              label="Variantsets"
              :itemList="variantsetLists"
              :singleVariantSet="singleVariantSet"
              @invalidVariantsetsLength="handleInvalidVariantsetsLength"
            />
          </v-col>
          <v-col cols="2">
            <v-row v-if="showPreview" justify="start">
              <v-dialog persistent v-model="dialog">
                <template v-slot:activator="{ on: dialog }">
                  <v-tooltip right>
                    <template v-slot:activator="{ on: tooltip }">
                      <v-btn
                        fab
                        small
                        color="blue lighten-1 white--text mt-1"
                        v-on="{ ...dialog, ...tooltip }"
                        @click="updatePreview"
                      >
                        <v-icon>mdi-eye</v-icon>
                      </v-btn>
                    </template>
                    <span>Preview Data</span>
                  </v-tooltip>
                </template>

                <v-toolbar
                  v-if="hasMarkerAndSampleCount"
                  dark
                  color="secondary"
                >
                  <v-toolbar-title
                    >{{ getTotalSample }} Samples,
                    {{ getTotalMarker }} Markers</v-toolbar-title
                  >
                  <v-spacer />
                  <v-btn icon dark @click.stop="closePreviewBrapiData()">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-toolbar>
                <PreviewBrapiData
                  :key="dialog"
                  :mapsetsChanged="mapsetsChanged"
                  :mapDbId="mapDbId"
                  :variantsetsChanged="variantsetsChanged"
                  @updateMarkerSample="updateMarkerSample"
                  @updateBaseSnackBarData="updateBaseSnackBarData($event)"
                />
                <v-btn
                  bottom
                  color="secondary"
                  @click.stop="closePreviewBrapiData()"
                  >Close</v-btn
                >
              </v-dialog>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="10">
            <Multiple
              :onHold="onHold"
              v-on:select="updateSelectedMapset"
              label="Mapsets"
              :itemList="mapsetItemList"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <BaseSnackbar
      v-if="errorOccurred"
      :text="baseSnackBarMessage"
      :type="baseSnackBarType"
      @resetErrorOccuredFlag="errorOccurred = false"
    />
  </v-container>
</template>

<script>
import BaseSnackbar from "@/components/shared/BaseSnackbar";
import Multiple from "../components/Multiple.vue";

import FetchService from "@/services/auth/FetchService";

import { baseSnackbarMethods } from "@/mixins/";

export default {
  name: "GetData",

  data: function() {
    return {
      autoSelectedVariantsets: [],
      dialog: false,
      variantsets: [],
      variantsetsCopy: [],
      study: null,
      studies: null,
      studyIdOfDataset: null,
      studyItemList: [],
      variantsetItemList: [],
      mapsetItemList: [],
      mapDbId: null,
      mapsetsChanged: false,
      studySelected: false,
      selectedDataset: null,
      totalSample: "calculating",
      totalMarker: "calculating",
      errorOccurred: false,
      selectedMapset: null,
      onHold: false,
      singleVariantSet: null,
      singleMapset: null,
      studyDbIds: null,
      previousVariantsets: [],
      previousMapDbId: null,
      variantsetsChanged: false,

      removedItems: [],
      variantsetLists: [],
      temp: [],
    };
  },

  watch: {
    studies() {
      const lengthOfStudies = this.studies?.length;

      let autoSelectedVariantsets = [];
      this.variantsetLists = []; // filtered variantlist

      if (lengthOfStudies) {
        /**
         * Everytime the study changes, this will get the variantsets under
         * the selected studies.
         */
        this.studies.forEach((study) => {
          const variantsetsUnderStudy = this.variantsetItemList.reduce(
            (container, variantset) => {
              if (variantset.value.studyDbId === study.studyDbId) {
                container.push(variantset);
              }
              return container;
            },
            []
          );

          /**
           * If the variantset of a study is only one, it will be
           * pushed to the array 'autoSelectedVariantsets'.
           */
          if (variantsetsUnderStudy.length === 1)
            autoSelectedVariantsets.push(variantsetsUnderStudy[0]);

          this.variantsetLists = [
            ...this.variantsetLists,
            ...variantsetsUnderStudy,
          ];
        });
      } else {
        this.removedItems = [];
        /**
         * No selected studies means just returning the list of
         * variantsets.
         */
        this.variantsetLists = [...this.variantsetItemList];
      }

      if (autoSelectedVariantsets.length) {
        const values = autoSelectedVariantsets.map((v) => v.value);

        this.setSingleVariantset(autoSelectedVariantsets);

        /**
         * Using this removedItems will prevent the Studies to
         * pass variantsets that were already unselected
         * by the user. So there will be no reappearing
         * of variantsets when a study is unselected
         */
        if (this.removedItems.length) {
          const unremovedItems = this.getRemovedItems(
            values,
            this.removedItems
          );

          /**
           * What you pass in the Multiple and the Variantset dropdown
           * is the array with unremoved
           */
          this.setSingleVariantset(unremovedItems, true);
          this.updateSelectedVariantset(unremovedItems);
        } else {
          this.setSingleVariantset(autoSelectedVariantsets, false);
          this.updateSelectedVariantset(values);
        }
      } else this.setSingleVariantset("not applicable");
    },

    /**
     * On variantsets() and mapDbId():
     *
     * This is used for determining if the PreviewBrapiData table
     * should be updated again or not, given what is the state
     * of the variantsets or mapDbId.
     */
    variantsets() {
      if (
        JSON.stringify(this.variantsets) ===
        JSON.stringify(this.previousVariantsets)
      ) {
        this.variantsetsChanged = false;
      } else this.variantsetsChanged = true;
    },

    mapDbId() {
      if (this.mapDbId === this.previousMapDbId) this.mapsetsChanged = false;
      else this.mapsetsChanged = true;
    },
  },

  computed: {
    showPreview() {
      const isValueBetweenOneAndFive =
        this.variantsets.length >= 1 && this.variantsets.length <= 5;

      return isValueBetweenOneAndFive;
    },

    hasMarkerAndSampleCount() {
      return this.totalSample !== null && this.totalMarker !== null;
    },

    getTotalSample() {
      return this.totalSample;
    },

    getTotalMarker() {
      return this.totalMarker;
    },
  },

  components: {
    BaseSnackbar,
    Multiple,
    PreviewBrapiData: () =>
      import(/* webpackChunkName: "PreviewBrapiData" */ "@/components/PreviewBrapiData"),
  },

  async created() {
    try {
      const brapiURL = localStorage.getItem("brapiURL");
      const studies = await FetchService.fetchStudies(brapiURL);
      if (studies) this.addStudyItem(studies.data.result.data);
      this.getAllVariantsets();
      this.getAllMapsets();
    } catch (error) {
      console.log(error.message);
    }
  },

  methods: {
    addStudyItem: function(result) {
      this.studyItemList = result.map((res) => {
        const studyItem = {
          name: res.studyName,
          studyDbId: res.studyDbId,
        };
        return { text: studyItem.name, value: studyItem };
      });
    },

    addDatasetItem: function(result) {
      this.variantsetItemList = result.filter((res) => res.additionalInfo.extractReady).map((res) => {
        const dataSetItem = {
          name: res.variantSetName + ' (' +res.variantCount+'*'+res.callSetCount+ ')',
          studyDbId: res.studyDbId,
          lastUpdated: res.updated,
          markerCount: res.variantCount,
          sampleCount: res.callSetCount,
          matrixDbId: res.variantSetDbId,
        };
        return { text: dataSetItem.name, value: dataSetItem };
      });
      this.variantsetLists = [...this.variantsetItemList];
    },

    addMapsetItem: function(result) {
      this.mapsetItemList = result.map((res) => {
        const mapsetItem = {
          name: res.mapName+"  ",
          mapDbId: res.mapDbId,
          linkageGroupCount: res.linkageGroupCount,
          markerCount: res.markerCount,
          unit: res.unit,
          type: res.type,
        };
         return { text: mapsetItem.name, value: mapsetItem };
      });
    },

    closePreviewBrapiData: async function() {
      /**
       * Resetting some flags upon closing PreviewBrapiData component and storing
       * the previously selected variantsets and mapDbId used for comparing
       * in the Watch component property, that is also used for the
       * caching system i.e. if the user tries to open the
       * PreviewBrapiData modal again, it will not call
       * to the API if there's no change in selected
       * variantsets/mapset.
       *
       */
      this.dialog = false;
      this.previousVariantsets = [...this.variantsets];
      this.previousMapDbId = this.mapDbId;
      this.variantsetsChanged = false;
      this.mapsetsChanged = false;
    },

    /* deleteAutoSelected: function() {
      this.autoSelectedVariantsets = [];
    }, */

    getAllVariantsets: async function() {
      try {
        const variantsets = await FetchService.fetchVariantsets();
        if (variantsets) this.addDatasetItem(variantsets.data.result.data);
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error fetching variantsets",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
        
      }
    },

    getAllMapsets: async function() {
      try {
        const mapsets = await FetchService.fetchMapsets();

        if (mapsets) this.addMapsetItem(mapsets.data.result.data);
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error fetching mapsets",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
        
      }
    },

    getRemovedItems: function(array1, array2) {
      /**
       * This will get the difference between two arrays. This is used
       * to get the difference between the removed variantsets and
       * the variantsets under a certain study.
       */

      const removedItems = array1.filter((item) => !array2.includes(item));
      return removedItems;
    },

    getStudyDbIds() {
      return this.studies.map((study) => study.studyDbId);
    },

    handleInvalidVariantsetsLength: function(value) {
      this.$emit("invalidVariantsetsLength", value);
    },

    setVariantsetsStudyDbIds: function(variantsets) {
      return variantsets.map((variantset) => {
        return variantset.studyDbId;
      });
    },

    setSingleVariantset(variantset, getObjectWithTitle) {
      /**
       * getObjectWithTitle acts as a flag whether there's a need
       * for the objects in the array to have a 'text' and
       * 'value' property for the v-select.
       */
      if (getObjectWithTitle) {
        let variantsetWithTitleProp = [];

        this.variantsetItemList.forEach((variantsetItem) => {
          variantset.forEach((v) => {
            if (variantsetItem.value.name === v.name)
              variantsetWithTitleProp.push(variantsetItem);
          });
        });

        this.singleVariantSet = variantsetWithTitleProp;
      } else this.singleVariantSet = variantset;
    },

    updateMarkerSample: function(data) {
      this.totalSample = data.samples;
      this.totalMarker = data.markers;
    },

    updateSelectedStudy: async function(selectedStudies) {
      if (selectedStudies?.length) {
        this.studySelected = true;

        /**
         * This 'onHold' flag is for assuring that the variantsets and mapsets
         * in the dropdowns are only showing variantsets/mapsets for the
         * selected study. Preventing mispicked and errors when
         * previewing the table. (tested over Fast 3G and
         * Slow 3G using Devtools)
         */
        this.onHold = true;
        this.studies = selectedStudies;

        this.onHold = false;
      } else {
        /**
         * Reset values of STUDIES and MAPSETS when STUDIES is cleared.
         * This is to prevent passing wrong parameters when
         * previewing the table.
         */
        this.studies = null;
      }
    },

    updateSelectedVariantset: function(selectedVariantset) {
      this.variantsets = selectedVariantset;

      const previousVariantsets = this.$store.state.variantSets;

      const lengthOfStudies = this.studies?.length;
      if (lengthOfStudies) {
        /**
         * This is for getting the unselected variantsets done by the
         * user whenever there's a selected study. The removedItems
         * holds the unselected variantsets and will be used in
         * the Watch() property to not pass the variantsets
         * that were already unselected.
         */
        if (previousVariantsets?.length > selectedVariantset?.length) {
          this.removedItems = [
            ...this.removedItems,
            ...this.getRemovedItems(previousVariantsets, selectedVariantset),
          ];
        }
      }

      if (selectedVariantset?.length) {
        // TODO: Remove this unused code (test first)
        this.studyDbIds = this.setVariantsetsStudyDbIds(selectedVariantset);

        this.$store.dispatch("setVariantSetsAction", selectedVariantset);
        this.$store.dispatch("setHideAlertAction");
      } else {
        this.variantsets = [];
        this.$store.dispatch("deleteVariantSetsAction");
      }
    },

    updateSelectedMapset: function(selectedMapset) {
      if (selectedMapset) {
        this.mapDbId = selectedMapset?.mapDbId || null;
        this.selectedMapset = selectedMapset;
        
       this.$store.dispatch("setMapAction", selectedMapset);
      } else {
        this.mapDbId = null;
        
       this.$store.dispatch("deleteMapAction", selectedMapset);
      }

    },

    updatePreview: function() {
      this.totalSample = null;
      this.totalMarker = null;
    },
  },

  mixins: [baseSnackbarMethods],
};
</script>
