<template>
  <v-row dense>
    <MessageDialog :dialog="dialog" :dialogData="dialogData" />
    <v-col cols="4" sm="4" lg="2">
      <v-subheader class="subtitle-1 text-uppercase">{{ label }}</v-subheader>
    </v-col>
    <v-col cols="10" sm="8">
      <div>
        <v-autocomplete
          v-model="selected"
          chips
          deletable-chips
          :disabled="onHold"
          :items="itemList"
          :label="setLabel"
          :multiple="label === 'Variantsets' || label === 'Studies'"
          v-on:change="whenItemSelected"
        >
          
        </v-autocomplete>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import MessageDialog from "../components/shared/MessageDialog";
import { EventBus } from "../event-bus.js";
import { mapGetters } from "vuex";

export default {
  name: "Multiple",

  props: ["label", "itemList", "onHold", "singleVariantSet"],

  data() {
    return {
      oldSelection: null,
      newSelection: null,
      selected: null,
      page: "getData",
      data: null,
      nullState: [],
      dialog: false,
      dialogData: {
        title: "Changing your selection will reset the succeeding pages.",
        message: " Do you want to continue? ",
        enabled: false,
        proceedBtnMsg: "Yes, proceed",
        cancelBtnMsg: "No, keep previous selection",
        whenCancelPressed: "unselectDatasetItem",
        whenProceedPressed: "selectNewDatasetAndReset",
      },
    };
  },

  components: {
    MessageDialog,
  },

  mounted() {
    EventBus.$on("selectNewDatasetAndReset", this.selectNewItemAndReset);
    EventBus.$on("unselectDatasetItem", this.unselectNewItem);
  },

  watch: {
    onHold() {
      if (this.label === "Variantsets")
        this.singleVariantSet ? false : this.holdStatus;
      if (this.label === "Mapsets") this.singleMapset ? false : this.holdStatus;
    },

    singleVariantSet() {
      if (this.label === "Variantsets") {
        if (this.singleVariantSet === "not applicable") this.selected = null;
        else {
          this.selected = this.singleVariantSet;
        }
      }
    },

    selected(value) {
      if (value?.length) {
        if (this.label === "Variantsets" || this.label === "Studies") {
          const isValueBetweenOneAndFive =
            value.length >= 1 && value.length <= 5;

          if (isValueBetweenOneAndFive) {
            this.$emit("invalidVariantsetsLength", false);
            /**
             * New selection will be used whenever the user changes the
             * dataset and there's a need for reseting the page. And
             * if not, the old selection will be used for the value
             * of the dropdown.
             */
            if (this.needsReset(this.page)) this.newSelection = value;
            else this.oldSelection = value;
          } else {
            this.$emit("invalidVariantsetsLength", true);
          }
        } else {
          /**
           * New selection will be used whenever the user changes the
           * dataset and there's a need for reseting the page. And
           * if not, the old selection will be used for the value
           * of the dropdown.
           */
          if (this.needsReset(this.page)) this.newSelection = value;
          else this.oldSelection = value;
        }
      }
    },
  },

  computed: {
    ...mapGetters(["isFiltered", "isConsensusCalled", "isSplit"]),

    setLabel() {
      switch (this.label) {
        case "Studies":
          return "Select Study";
        case "Variantsets":
          return "Select one or more variantset";
        case "Mapsets":
          return "Select Mapset";
        default:
          return "";
      }
    },
  },

  methods: {
    needsReset(page) {
      /**
       * This function returns a boolean true, if there's a Filter, Consensus,
       * or Split processes already done and the user is trying to select
       * a different dataset, since there's a need to reset the pages
       * upon changing the previous selected dataset.
       */
      let returnValue = false;
      switch (page) {
        case "getData":
          if (this.isFiltered) returnValue = true;
        /* falls through */
        case "filter":
          if (this.isConsensusCalled) returnValue = true;
        /* falls through */
        case "consensus":
          if (this.isSplit) returnValue = true;
        /* falls through */
        default:
          break;
      }

      return returnValue;
    },

    whenItemSelected(selectedItem) {
      /**
       * This is called whenever there's a change in the Studies, Datasets,
       * or Mapsets. This function will check if there's a change in the
       * previously selected dataset, and will open a dialog box to
       * warn the user about reseting the succeeding pages.
       *
       * The dialog box will open if the dataset change or the study
       * changes and that study instantly changed the dataset.
       */

      const needsReset = this.needsReset(this.page);

      if (needsReset && this.label === "Variantsets" && this.oldSelection) {
        this.dialog = true;
      } else if (needsReset && this.label === "Studies" && this.oldSelection)
        this.dialog = true;
      else this.$emit("select", selectedItem); //just go ahead and select the item
    },

    selectNewItemAndReset() {
      /**
       * This is for reseting the values for Filter, Consensus, and Split
       * if the user chooses to change the previously selected dataset.
       * The newly selected will be now the old selected.
       */

      this.selected = this.newSelection;
      this.$emit("select", this.selected);
      this.$store.dispatch("setPageOnChangeAction", this.page);
      this.oldSelection = this.newSelection;
      this.dialog = false;
    },

    unselectNewItem() {
      /**
       * This is for setting the current selected to the previous selected.
       * Upon choosing a different dataset, the value in the dropdown
       * instantly changes. And upon cancelling the change in
       * dataset, the reselection using the old selected is
       * needed.
       */
      this.selected = this.oldSelection;
      this.dialog = false;
    },
  },
};
</script>

<style scoped>

.v-tooltip__content.menuable__content__active {
  background: #616161 !important;
  opacity: 1 !important;
}
</style>
