<template>
  <div>
    <v-data-table
      dense
      hide-default-footer
      :loading="isLoading"
      loading-text="Loading preview... Please wait"
      :headers="getHeaders"
      :items="getMatrix"
      :items-per-page="10"
      :page.sync="page"
      class="elevation-1"
      @page-count="pageCount = $event"
    >
      <template v-if="isMarixLoaded" v-slot:footer>
        <span style="float:right;" class="accent--text lighten-1 overline"
          >*This is just a preview. Please download to see the entire filtered
          data.</span
        >
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination v-model="page" :length="pageCount"></v-pagination>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../event-bus.js";
import FilterService from "@/services/local/FilterService";

export default {
  name: "PreviewDataTable",
  props: ["apiCallFunctionName"],
  data() {
    return {
      header: [],
      matrix: [],
      isLoading: true,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
    };
  },
  mounted() {
    EventBus.$on("updatePreviewDataTable", this.updatePreviewDataTable);
  },
  computed: {
    getHeaders() {
      return this.header;
    },
    getMatrix() {
      return this.matrix;
    },
    isMarixLoaded() {
      return this.matrix.length > 0;
    },
  },
  methods: {
    addData: function(result) {
      this.header = [];

      this.matrix = [];

      let ctr = 0;
      for (let [, value] of Object.entries(result)) {
        // for each row

        let newRow = {};

        for (let [k, v] of Object.entries(value)) {
          if (ctr < 1) {
            // get header only during first row iteration
            let newItem = {};
            if (k != "sampleName") {
              //ignore the sampleName entry that one's special.
              newItem["text"] = k;
              newItem["value"] = k;
              this.header.push(newItem);
            } else {
              newItem["text"] = " ";
              newItem["value"] = k;
              this.header.unshift(newItem);
            }
          }

          newRow[k] = v;
        }

        this.matrix.push(newRow);
        ctr++;
      }
      this.isLoading = false;
    },
    updatePreviewDataTable: async function() {
      try {
        const response = await FilterService.getFilteredDataPreview(
          this.$store.state.filterPreview
        );
        if (response) {
          this.addData(response.data.result);
        }
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error getting filtered data preview",
          type: "error",
          error: error,
        };
        this.$emit("updateBaseSnackBarData", snackBarDetails);
      }
    },
  },
};
</script>
