<template>
  <div v-if="isMarixLoaded">
    <div class="text-center pt-2 secondary lighten-3">
      <v-pagination v-model="page" :length="pageCount"></v-pagination>
    </div>
    <v-data-table
      class="elevation-1"
      dense
      hide-default-footer
      :loading="isLoading"
      loading-text="Loading preview... Please wait"
      :headers="getHeaders"
      :items="getMatrix"
      :items-per-page="25"
      :page.sync="page"
      hide-default-header
      height="420"
      fixed-header
      @page-count="pageCount = $event"
    >
      <template v-slot:header="{ props: { headers } }">
        <thead>
          <tr>
            <th v-for="(index, i) in headers" :key="`${i}`">
              <template v-if="index.text !== ''">
                <p class="ma-0">{{ index.text.split(",")[0] }}</p>
                <p class="ma-0">{{ index.text.split(",")[1] }}</p>
                <p class="ma-0">{{ index.text.split(",")[2] }}</p>
              </template>
            </th>
          </tr>
        </thead>
      </template>
      <template v-if="isMarixLoaded" v-slot:footer>
          <span style="float:right;" class="accent--text lighten-1 overline">
            *This is just a preview. Only displaying up to 10 samples and markers for each dataset.</span>
        </template>
    </v-data-table>

    <div class="text-center pt-2 secondary lighten-3">
      <v-pagination v-model="page" :length="pageCount"></v-pagination>
    </div>
  </div>
  <div v-else>
     <span style="float:right;" class="accent--text lighten-1 overline">
           {{footerMessage}}.</span>
  </div>
</template>

<script>
import { EventBus } from "../event-bus.js";
import FetchService from "@/services/auth/FetchService";
import PreviewDataService from "@/services/local/PreviewDataService";
import KeycloakService from "@/services/auth/KeycloakService";

import { baseSnackbarMethods } from "@/mixins/";

export default {
  name: "PreviewBrapiData",

  data() {
    return {
      header: [],
      matrix: [],
      newRow: [],
      currVariant: null,
      isLoading: true,
      totalMarkers: 0,
      page: 1,
      pageCount: 0,
      previousHeader: [],
      previousMatrix: [],
      markerPositions: [],
      footerMessage: ""
    };
  },

  props: ["mapsetsChanged", "mapDbId", "variantsetsChanged"],

  async created() {
    try {
      const response = await FetchService.fetchMarkerPositions();
      if (response) {
        this.markerPositions = response.data.result.data;
      }
    } catch (error) {
      // const snackBarDetails = {
      //   errorMessage: "Error fetching marker positions",
      //   type: "error",
      //   error: error,
      // };
      // this.$emit("updateBaseSnackBarData", snackBarDetails);
      console.log(error);
      KeycloakService.logoutRedirect();
    }
  },

  mounted() {
    this.updatePreviewBrapiTable();
  },

  computed: {
    getHeaders() {
      return this.header;
    },

    getMatrix() {
      return this.matrix;
    },

    getTotalSample() {
      return this.matrix.length;
    },

    getTotalMarker() {
      let returnVal = 0;

      if (this.totalMarkers > 1) {
        returnVal = this.totalMarkers;
      }

      return returnVal;
    },

    getVariantSetsIds() {
      return this.$store.getters.getVariantSetsIds;
    },

    isMarixLoaded() {
      return this.matrix.length > 0;
    },
  },
  methods: {
    checkLoadPreviewStatus: async function(filePreviewUrl) {
      try {
        const status = await PreviewDataService.getData(filePreviewUrl);

        if (status.data.state === "LOAD-PREVIEW-COMPLETED") {
          this.getTableMatrix(status.data.status.filePreviewUrl);
        }else if(status.data.state === "LOAD-PREVIEW-FAILED") {
          this.footerMessage="The selected variantset(s) cannot be previewed."
        } else {
          this.checkLoadPreviewStatus(filePreviewUrl);
        }
      } catch (error) {
        console.log(error);
        
        KeycloakService.logoutRedirect();
      }
    },

    getTableMatrix: async function(filePreviewUrl) {
      try {
        const matrix = await PreviewDataService.getData(filePreviewUrl);
        if (matrix) {
          this.transformMatrix(matrix.data);
        }
      } catch (error) {
         console.log(error);
        
        KeycloakService.logoutRedirect();
      }
    },

    transformMatrix: function({ header, result }) {
      this.header = [];
      this.matrix = [];

      const headerArray = Object.values(header);

      let ctr = 0;

      for (let [, value] of Object.entries(result)) {
        // for each row

        let newRow = {};
        let headerCounter = 0;
        for (let [k, v] of Object.entries(value)) {
          if (ctr < 1) {
            // get header only during first row iteration
            let newItem = {};

            if (k != "sampleName") {
              //ignore the sampleName entry that one's special.

              if (this.mapDbId) {
                newItem["text"] = `LG Name: ${
                  headerArray[headerCounter].linkageGroupName
                },Position: ${
                  headerArray[headerCounter].position
                },Variant: ${k}`;
              } else {
                newItem["text"] = `Variant: ${k}`;
              }
              headerCounter++;

              this.header.push(newItem);
            } else {
              newItem["text"] = "";
              this.header.unshift(newItem);
            }

            newItem["value"] = k;
          }

          newRow[k] = v;
        }

        this.matrix.push(newRow);
        ctr++;
      }

      /**
       * Storing the initial data retrieved from the API. This will be
       * used for reopening the PreviewBrapiTable, acting like a
       * cached system.
       */
      const previewBrapiData = {
        header: this.header,
        matrix: this.matrix,
      };

      this.$store.dispatch("setPreviewBrapiDataTableAction", previewBrapiData);

      this.totalMarkers = this.header.length - 1;
      this.isLoading = false;
      EventBus.$emit("updateMarkerSample", {
        markers: this.getTotalMarker,
        samples: this.getTotalSample,
      });
    },

    updatePreviewBrapiTable: async function() {
      this.isLoading = true;

      /**
       * If the variantsets did not change, the PreviewBrapiData table
       * will just used the previous data retrieved from the API.
       *
       * If the variantsets did change or mapDbId, then there will be an API call.
       *
       * This variantsetsChanged and mapsetsChanged acts as a flag so there will be no
       * recalling of the API for the same variantsets (or mapDbId).
       */
      if (this.variantsetsChanged || this.mapsetsChanged) {
        this.header = [];
        this.matrix = [];

        try {
          const variantSetDbIds = this.$store.getters.getVariantSetsIds;

          const loadPreviewData = {
            variantSetDbIds: variantSetDbIds,
            mapDbId: this.mapDbId ? this.mapDbId : "",
            taskType: "LOAD-PREVIEW",
          };

          const filePreviewUrlLink = await PreviewDataService.loadPreviewData(
            loadPreviewData
          );

          if (filePreviewUrlLink) {
            this.checkLoadPreviewStatus(
              filePreviewUrlLink.data.taskStatusRefLink
            );
          }

          // TODO:
          //   1. If no matrix data, do step two
          //   2.
          //     // this.isLoading = false;
          //     // EventBus.$emit("updateMarkerSample", { markers: 0, samples: 0 });
        } catch (error) {
          console.log(error);
          // const snackBarDetails = {
          //   errorMessage: "Error fetching matrix",
          //   type: "error",
          //   error: error,
          // };
          // this.$emit("updateBaseSnackBarData", snackBarDetails);
        
          KeycloakService.logoutRedirect();
        }
      } else {
        this.header = this.$store.getters.getPreviewBrapiDataTableHeader;
        this.matrix = this.$store.getters.getPreviewBrapiDataTableMatrix;
        this.isLoading = false;
      }
    },
  },
  mixins: [baseSnackbarMethods],
};
</script>

<style scoped>
.v-data-table th {
  min-width: 10.5rem;
}
.v-data-table >>> td:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0 !important;
  z-index: 9998 !important;
  background: white !important;
}

.v-data-table th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0 !important;
  z-index: 9998 !important;
  background: white !important;
}

.v-data-table th:nth-child(1) {
  z-index: 9999 !important;
}
</style>
