<template>
  <div>
    <template v-if="!selectedConsensusParent">
      <p class="grey--text">
        <v-icon left color="warning ">mdi-alert</v-icon>
        No Consensus Parents to show Preview Consensus Table
      </p>
    </template>
    <template v-else>
      <v-data-table
        dense
        hide-default-footer
        :loading="isLoading"
        loading-text="Loading... Please wait"
        :headers="getHeaders"
        :items="getMatrix"
        :items-per-page="10"
        :page.sync="page"
        class="elevation-1"
        @page-count="pageCount = $event"
      >
        <template v-if="isMarixLoaded" v-slot:footer>
          <span style="float:right;" class="accent--text lighten-1 overline"
            >*Click the genotype of the consensus parent to edit its
            value.</span
          >
        </template>
        <template v-slot:body="{ items, headers }">
          <tbody>
            <tr v-for="(item, itemKey) in items" :key="itemKey">
              <td v-for="(header, headerKey) in headers" :key="headerKey">
                <!-- Only first row with sampleName that ends in * can be edited -->
                <v-tooltip
                  v-if="
                    itemKey === 0 &&
                      headerKey >= 1 &&
                      item.sampleName.slice(-1) === '*'
                  "
                  bottom
                >
                  <template v-slot:activator="{ on, attrs }">
                    <div
                      v-bind="attrs"
                      v-on="on"
                      class="cursor-pointer"
                      :return-value="item[header.value]"
                      @click="editCell(item[header.value], header, itemKey)"
                    >
                      <span>
                        {{ item[header.value] }}
                        <v-icon color="primary" small class="ml-1"
                          >mdi-pencil</v-icon
                        >
                      </span>
                    </div>
                  </template>
                  <span>Edit Genotype</span>
                </v-tooltip>

                <div v-else>{{ item[header.value] }}</div>
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>

      <v-dialog v-model="dialog" width="320" persistent>
        <v-card class="pt-2">
          <v-card-title>
            Markername:
            <span class="font-weight-regular ml-2">{{
              updateMarkerName.text
            }}</span>
          </v-card-title>

          <v-card-text>
            <v-form ref="form" v-model="valid" onSubmit="return false;">
              <v-text-field
                :rules="[rules.validGenotype]"
                @keyup.enter="updateTableCell"
                label="Edit Genotype"
                v-model="passedGenotype"
              ></v-text-field>
            </v-form>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey darken-1" text @click="closeTableCell"
              >Cancel</v-btn
            >
            <v-btn
              color="primary"
              text
              @click="updateTableCell"
              :disabled="disabled"
              >Save</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
      </div>

      <v-snackbar v-model="snackbar" :timeout="2000" :color="snackColor">
        {{ editTableMessage }}
        <v-btn text @click="snackbar = false">
          Close
        </v-btn>
      </v-snackbar>
    </template>
  </div>
</template>

<script>
import ConsensusService from "@/services/local/ConsensusService";

export default {
  name: "PreviewConsensusTable",
  data() {
    return {
      editTableMessage: "",
      header: [],
      matrix: [],
      isLoading: true,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      rules: {
        validGenotype: function(genotype) {
          /**
           * Valid genotypes are "G", "C", "A", "T", or "" with:
           * - (letter OR blank) slash (letter OR blank)
           * - blank ("")
           *
           * The process here is comparing the two arrays, the valid genotypes,
           * and the split genotype given by the user. If there's a difference
           * between the two, then it's invalid.
           */

          const allowed_genotypes = ["G", "C", "A", "T", ""];
          const genotype_values = [...new Set(genotype.split("/"))];

          const difference = genotype_values.filter(
            (x) => !allowed_genotypes.includes(x)
          );

          if (difference.length) return "Invalid Genotype";
          else return true;
        },
      },
      snackbar: false,
      snackColor: "",
      valid: true,
      dialog: false,
      disabled: null,
      genotype: "",
      updateMarkerName: "",
      currentGenotype: "",
      cellRow: null,
      cellColumn: null,
      passedGenotype: "",
    };
  },
  props: {
    parentSampleName: {
      type: Object,
      required: true,
    },
    isDataReady: {
      type: Boolean,
    },
    selectedConsensusParent: {
      type: Object,
    },
  },
  watch: {
    passedGenotype: function() {
      /**
       * User cannot edit if the current genotype in the table and the
       * passed (edited) genotype is the same. This is also to
       * prevent unnecessary API call to an edit endpoint
       * that has no actual change.
       */

      this.disabled =
        this.passedGenotype === this.currentGenotype ? true : false;
    },
  },
  mounted() {
    this.updatePreviewConsensusTable(this.selectedConsensusParent);
  },
  computed: {
    getHeaders() {
      return this.header;
    },
    getMatrix() {
      return this.matrix;
    },
    isMarixLoaded() {
      return this.matrix.length > 0;
    },
  },
  methods: {
    editCell: function(passedGenotype, header, itemKey) {
      // Setting the proper 'coordinates' of the cell to be edited with the passe genotype
      this.passedGenotype = passedGenotype;
      this.currentGenotype = passedGenotype;
      this.updateMarkerName = header;
      this.cellRow = itemKey;
      this.dialog = true;
    },

    closeTableCell() {
      this.dialog = false;
      this.resetValuesForEdit();
    },
    addData: function(result) {
      this.header = [];
      this.matrix = [];

      var ctr = 0;
      for (let [, value] of Object.entries(result)) {
        // for each row

        var newRow = {};

        for (let [k, v] of Object.entries(value)) {
          if (ctr < 1) {
            // get header only during first row iteration
            var newItem = {};
            if (k != "sampleName") {
              //ignore the sampleName entry that one's special.
              newItem["text"] = k;
              newItem["value"] = k;
              this.header.push(newItem);
            } else {
              newItem["text"] = " ";
              newItem["value"] = k;
              this.header.unshift(newItem);
            }
          }

          newRow[k] = v;
        }

        this.matrix.push(newRow);
        ctr++;
      }

      this.isLoading = false;
    },
    resetValuesForEdit() {
      this.passedGenotype = "";
      this.currentGenotype = "";
      this.updateMarkerName = "";
      this.cellRow = "";
      this.disabled = null;
    },
    updatePreviewConsensusTable: async function(selectedConsensusParent) {
      if (selectedConsensusParent) {
        /**
         * Using the selected Consensus Parent to display the appropriate
         * Consensus Preview Table
         */
        try {
          const response = await ConsensusService.getConsensusDataPreview(
            selectedConsensusParent.genotypesUrl
          );
          if (response) {
            this.addData(response.data.result);
          }
        } catch (error) {
          const snackBarDetails = {
            errorMessage: "Error getting consensus data preview",
            type: "error",
            error: error,
          };
          this.$emit("updateBaseSnackBarData", snackBarDetails);
        }
      }
    },

    updateTableCell: async function() {
      if (!this.$refs.form.validate()) this.valid = false;
      else {
        // Replacing the current genotype with the passed genotype from Edit Modal
        const genotypeObject = {};
        genotypeObject[this.updateMarkerName.text] = this.passedGenotype;
        Object.assign(this.getMatrix[this.cellRow], genotypeObject);

        const { taskId } = this.$store.state.consensusDetail;

        const updateConsensusBody = {
          markerName: this.updateMarkerName.text,
          genotypeValue: this.passedGenotype,
          parentSampleName: this.parentSampleName.parentName
        };

        try {
          const response = await ConsensusService.updateConsensusTable(
            updateConsensusBody,
            taskId
          );

          if (response) {
            this.closeTableCell();
            this.editTableMessage = "Successfully edited genotype";
            this.snackbar = true;
            this.snackColor = "success";
            this.disabled = null;
          }
        } catch (error) {
          this.editTableMessage = "Error updating table";
          this.snackbar = true;
          this.snackColor = "error";
          this.disabled = null;
          throw new Error(error);
        }
      }
    },
  },
};
</script>

<style scoped>
.cursor-pointer {
  cursor: pointer !important;
}

.v-data-table >>> td:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0 !important;
  background: white !important;
}

.v-data-table >>> th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0 !important;
  background: white !important;
}
</style>
