<template>
  <v-container>
    <v-row dense>
      <v-col cols="6" sm="6" md="4">
        <v-list elevation="3" style="cursor: move">
          <v-subheader class="subtitle-1"
            >AVAILABLE SPLIT CATEGORIES:</v-subheader
          >
          <draggable
            v-model="items"
            :options="{ group: 'people' }"
            style="height: 580px"
          >
            <template v-for="item in items">
              <v-list-item :key="item.id">
                <v-list-item-avatar>
                  <v-icon color="accent">mdi-drag</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    class="subtitle-2"
                    v-html="item.title"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </draggable>
        </v-list>
      </v-col>
      <v-col cols="6" sm="6" md="4">
        <v-list elevation="3" style="cursor: move">
          <v-subheader class="subtitle-1">SELECTED SPLIT COLUMNS:</v-subheader>
          <draggable
            v-model="items2"
            :options="{ group: 'people' }"
            style="height: 580px"
          >
            <template v-for="item in items2">
              <v-list-item :key="item.id">
                <v-list-item-avatar>
                  <v-icon color="accent">mdi-drag</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    class="subtitle-2"
                    v-html="item.title"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </draggable>
        </v-list>
      </v-col>

      <v-col>
        <v-row no-gutters>
          <v-col cols="10" sm="10">
            <v-row align="end" justify="center">
              <v-col cols="12">
                <v-card elevation="0" max-width="300px" class="ma-0 pa-0">
                  <v-list-item style="padding-top: 0;">
                    <v-list-item-avatar size="48" color="white">
                      <v-icon large color="accent"
                        >mdi-swap-horizontal-bold</v-icon
                      >
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-content class="overline">
                        Select split columns by dragging items to the right
                      </v-list-item-content>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-avatar size="48" color="white">
                      <v-icon large color="accent"
                        >mdi-swap-vertical-bold</v-icon
                      >
                    </v-list-item-avatar>
                    <v-list-item-content class="overline">
                      Arrange the selected split columns in order by dragging
                      items up/down
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-col>
            </v-row>
            <v-row align="end" justify="center" v-show="items2.length > 0">
              <v-checkbox
                v-model="isTwoParentsChecked"
                label="Only include datasets with 2 parents in the project file"
              ></v-checkbox>
            </v-row>
            <v-row align="end" justify="center">
                <v-btn
                  :loading="loading"
                  class="ma-1"
                  outlined
                  color="accent"
                  @click="applySplit"
                  >apply</v-btn
                >
            </v-row>
            <v-row align="end" justify="center">
              <v-col v-if="finalSplitProcess.length" >
                <p v-if="!isError" class="success--text">
                  <v-icon color="success" class="mr-2 pb-1"
                    >mdi-check-circle</v-icon
                  >
                  <strong>{{ finalSplitProcess }}</strong>
                </p>

                <p v-else class="error--text">
                  <v-icon color="error" class="mr-2 pb-1"
                    >mdi-alert-circle</v-icon
                  >
                  <strong>{{ finalSplitProcess }}</strong>
                </p>
              </v-col>
               <v-col v-if="errorText">
                <v-alert v-if="errorText" type="warning">
                  {{ errorText }}
                </v-alert>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row v-if="processLabels.length > 0">
          <v-col>
            <!-- Split process here -->
            <v-card height="265" max-height="265" class="mx-0 scrollable">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title class="subtitle-2"
                    >Split Processes:</v-list-item-title
                  >
                </v-list-item-content>
              </v-list-item>

              <v-timeline dense>
                <template v-for="(timelineItem, index) in processLabels">
                  <v-timeline-item
                    v-if="timelineItem.text.includes('FAILED')"
                    color="error"
                    :key="index"
                    small
                    class="caption error--text"
                  >
                    {{ timelineItem.text }}
                  </v-timeline-item>
                  <v-timeline-item
                    v-else
                    :key="index"
                    small
                    class="caption"
                    :class="{
                      greyDot: !timelineItem.state,
                      greenDot: timelineItem.state,
                    }"
                  >
                    {{ timelineItem.text }}
                  </v-timeline-item>
                </template>
              </v-timeline>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-row v-if="isSuccessful">
      <v-col cols="12">
        <Summary heading="Split Summary" />
      </v-col>
    </v-row>
    <BaseSnackbar
      v-if="errorOccurred"
      :text="baseSnackBarMessage"
      :type="baseSnackBarType"
      @resetErrorOccuredFlag="errorOccurred = false"
    />
  </v-container>
</template>
<script>
import draggable from "vuedraggable";

import BaseSnackbar from "@/components/shared/BaseSnackbar";
import Summary from "@/components/shared/Summary";

import { EventBus } from "../event-bus.js";
import { baseSnackbarMethods } from "@/mixins/";

import SplitService from "@/services/local/SplitService";
import KeycloakService from "@/services/auth/KeycloakService";

export default {
  name: "Split",
  data() {
    return {
      defaultItems: [
        {
          id: 1,
          title: "dnasample_sample_group",
          value: "dnasampleSampleGroup",
        },
        {
          id: 2,
          title: "dnasample_sample_group_cycle",
          value: "dnasampleSampleGroupCycle",
        },
        {
          id: 3,
          title: "germplasm_name",
          value: "germplasmName",
        },
        {
          id: 4,
          title: "germplasm_par_1",
          value: "germplasmPar1",
        },
        {
          id: 5,
          title: "germplasm_par_2",
          value: "germplasmPar2",
        },
        {
          id: 6,
          title: "germplasm_pedigree",
          value: "germplasmPedigree",
        },
        {
          id: 7,
          title: "germplasm_type",
          value: "germplasmType",
        },
      ],
      errorOccurred: false,
      isTwoParentsChecked: true,
      finalSplitProcess: "",
      items: [],
      items2: [],
      labelStatus: null,
      previousProcess: "",
      processLabels: [],
      splitColumns: [],
      splitStatisticsData: null,
      loading: false,
      isSuccessful: false,
      isError: false,
      errorText: "",
      latestStatus: "",
    };
  },
  mounted() {
    EventBus.$on("resetSplitPage", this.resetPage);
  },
  components: {
    BaseSnackbar,
    draggable,
    Summary,
  },
  watch: {
    items2: function() {
      if (this.items2.length > 0) {
        this.errorText = "";
      }
    },
  },
  methods: {
    applySplit: async function() {
      this.isError = false;
      this.isSuccessful = false;
      this.loading = true;
      this.errorText = "";
      this.finalSplitProcess = "";
      this.latestStatus = "";

      //get split columns
      this.splitColumns = []; //empty current array
      if (this.processLabels.length > 0) {
        this.processLabels = [];
        this.previousProcess = "";
      }

      this.items2.forEach((element) => {
        this.splitColumns.push(element.value);
      });

      if (this.splitColumns.length < 1) {
        this.errorText = " Select split columns first.";
        this.loading = false;
        return;
      }

      //API Filter param

      const filters = {
        taskType: "SPLIT-GENOTYPES",
        variantSetDbIds: this.$store.getters.getVariantSetsIds,
        splitColumns: this.splitColumns,
      };

      if (this.$store.getters.isFiltered) {
        filters.filterTaskId = this.$store.state.filterDetail.taskId;
      }

      if (this.$store.getters.isMapsetSelected) {
        filters.mapDbId = this.$store.state.mapId;
      }

      if (this.$store.getters.isConsensusCalled) {
        filters.consensusTaskId = this.$store.state.consensusDetail.taskId;
      }

      if (this.isTwoParentsChecked) {
        filters.projectFileNumOfParents = 2;
      }

      try {
        const response = await SplitService.splitting(filters);
        if (response) {
          const storeDetail = {
            taskId: response.data.taskId,
            taskStatusRefLink: response.data.taskStatusRefLink,
            splitColumns: filters.splitColumns,
          };

          this.$store.dispatch("setSplitDetailAction", storeDetail);
          this.checkSplitStatus();
        }
      } catch (error) {
        this.loading = false;
        const snackBarDetails = {
          errorMessage: "Error applying consensus",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    checkSplitStatus: async function() {
      const splitDetail = this.$store.state.splitDetail;
      try {
        const response = await SplitService.checkSplitStatus(
          splitDetail.taskStatusRefLink
        );
        if (response && response.data.state === "SPLIT-GENOTYPES-COMPLETED") {
          /**
           * Upon fully success Split process, the file download URL will
           * be the last object of the array from the response body.
           */
          const fileDownloadUrl =
            response.data.completedTasks.slice(-2)[0].status?.fileDownloadUrl ||
            null;

          this.$store.dispatch("setSplitDownloadUrlAction", fileDownloadUrl);
        } else if (response.data.state.includes("FAILED")) {
          this.$store.dispatch("setPageOnChangeAction", "split");
        }

        let timelineItem;
        /**
         * For displaying the Split processes in v-timeline, each v-timeline-item
         * has a text and state, that will be pushed in the processLabels array.
         * Initially the state is false, meaning the process is still ongoing
         * and the color will be grey. When the labelStatus changes, the
         * previous process' (previous labelStatus) state will be set
         * to true, indicating the finished process of the previous
         * process and changing the color from grey to success.
         * And the loop continues until the Split process is done.
         */

        if (response.status === 200) {
          this.labelStatus = response.data.state;
          this.latestStatus = response.data.status;

          if (this.previousProcess === "") {
            this.previousProcess = this.labelStatus;
            if (!this.processLabels.some((e) => e.text === this.labelStatus)) {
              timelineItem = {
                text: this.labelStatus,
                state: false,
              };
              this.processLabels.push(timelineItem);
            }
          } else if (this.previousProcess !== this.labelStatus) {
            this.processLabels.find(
              (ti) => ti.text === this.previousProcess
            ).state = true;
            this.previousProcess = this.labelStatus;
            if (!this.processLabels.some((e) => e.text === this.labelStatus)) {
              timelineItem = {
                text: this.labelStatus,
                state: false,
              };
              this.processLabels.push(timelineItem);
            }
          }

          if (response.data.state === "SPLIT-GENOTYPES-COMPLETED") {
            if (!this.processLabels.some((e) => e.text === "DONE")) {
              this.processLabels.find(
                (ti) => ti.text === this.previousProcess
              ).state = true;
              timelineItem = {
                text: "DONE",
                state: true,
              };
              this.processLabels.push(timelineItem);
            }

            this.labelStatus = null;
            this.previousProcess = "";
            this.isSuccessful = true;
            this.loading = false;

            this.showSplitStatisticsData(response.data.status.statistics);
            /**
             * // Remove comment to show detailed final result
             * this.finalSplitProcess = this.processLabels.slice(-2)[0].text;
             */
            this.finalSplitProcess = "Successful!";
          } else if (response.data.state.includes("FAILED")) {
            if (!this.previousProcess.includes("FAILED")) {
              this.processLabels.find(
                (ti) => ti.text === this.previousProcess
              ).state = true;
            }
            this.previousProcess = response.data.state;
            if (
              !this.processLabels.some((e) => e.text === response.data.state)
            ) {
              timelineItem = {
                text: response.data.state +": "+response.data.status,
                state: null,
              };
              this.processLabels.push(timelineItem);
            }

            this.isSuccessful = false;
            this.loading = false;
            this.isError = true;
            if (!this.processLabels.some((e) => e.text === "FAILED")) {
              timelineItem = {
                text: "FAILED",
                state: null,
              };
              this.processLabels.push(timelineItem);
            }
            /**
             * // Remove comment to show detailed final result
             * this.finalSplitProcess = this.processLabels.slice(-2)[0].text;
             */
            this.finalSplitProcess = this.latestStatus;
            if(response.data.status && response.data.status === "system error"){ //Usually happens when the python APIs cannot connect to the BrAPI URL, so logout user and login again.
            
            this.finalSplitProcess = "Session Expired, please login again.";
             
            KeycloakService.logoutRedirect();

            }
          } else setTimeout(() => this.checkSplitStatus(), 200);
        } else {
          const snackBarDetails = {
            errorMessage: "Something went wrong",
            type: "error",
            error: null,
          };
          this.updateBaseSnackBarData(snackBarDetails);
        }
      } catch (error) {
        this.isSuccessful = false;
        this.loading = false;
        this.isError = true;
        const snackBarDetails = {
          errorMessage: "Something went wrong",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
    },
    resetPage: function() {
      this.items = this.defaultItems.slice();
      this.items2 = [];
      this.splitColumns = [];
      this.loading = false;
      this.isSuccessful = false;
      this.isError = false;
      this.processLabels = [];
      this.previousProcess = "";
      this.finalSplitProcess = "";
      this.latestStatus = "";
      this.splitStatisticsData = null;
    },
    showSplitStatisticsData: function(data) {
      const {
        datasetsStatsByParentsCount,
        datasetsWithReplicates,
        totalSplitDatasets,
      } = data;

      /**
       * Doing Split and not going to the Consensus process will prompt
       * in the success response body that there should be a
       * Consensus Calling for Flapjack batch processing
       * to be successful. This `dataForReplicates`
       * property will be used on what to display
       * in the UI
       */
      let dataForReplicates;
      if (datasetsWithReplicates) dataForReplicates = datasetsWithReplicates;
      else dataForReplicates = null;

      var datasetsByParent = [];
      var zeroOrOne = 0;
      var moreThanTwo = 0;

      for (const [key, value] of Object.entries(datasetsStatsByParentsCount)) {
        var obj = {};

        obj["parent"] = key;
        obj["datasets"] = value.datasets;
        obj["datasetsCount"] = value.datasetsCount;

        //avoid duplicate pedver advice
        if (key === 0 || key === 1) {
          if (zeroOrOne === 0) {
            obj["pedverAdvice"] = value.pedverAdvice;
            // zeroOrOne++;
          }
        } else if (key > 2) {
          if (moreThanTwo === 0) {
            obj["pedverAdvice"] = value.pedverAdvice;
            moreThanTwo++;
          }
        } else {
          obj["pedverAdvice"] = value.pedverAdvice;
        }

        datasetsByParent.push(obj);
      }

      this.splitStatisticsData = {
        totalSplitDatasets: totalSplitDatasets,
        datasetsWithReplicates: dataForReplicates,
        datasetsStatsByParentsCount: datasetsByParent,
      };

      this.$store.dispatch("setSplitStatisticsData", this.splitStatisticsData);

      const pedverAdviceWithAllWarnings =
        "THE SPLIT SUMMARY DATASETS ALL HAVE WARNINGS";
      this.$store.dispatch(
        "setSplitWarningForNoConsensus",
        this.splitStatisticsData.datasetsWithReplicates?.pedverAdvice ||
          pedverAdviceWithAllWarnings
      );
    },
  },
  mixins: [baseSnackbarMethods],
};
</script>

<style scoped>
.scrollable {
  overflow-y: auto;
}

.greenDot >>> .primary {
  background-color: #40a186 !important;
  border-color: #40a186 !important;
}

.greyDot >>> .primary {
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}
</style>
