<template>
  <div id="app">
    <v-app id="inspire">
      <v-main>
        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
              <v-alert
                color="primary"
                class=""
                border="left"
                elevation="2"
                colored-border
                dismissible
                v-if="$vuetify.breakpoint.xsOnly"
              >
                Rotate your device to landscape mode for better User Experience
              </v-alert>
              <v-card class="elevation-12">
                <v-toolbar flat>
                  <v-toolbar-title>
                    <span class="grey--text">Login</span>
                  </v-toolbar-title>
                </v-toolbar>
                <v-alert
                  text
                  dense
                  :value="showAlert"
                  type="error"
                  color="error"
                >
                  <strong>Login failed.</strong>
                  {{ errorMessage }}
                </v-alert>
                <v-spacer></v-spacer>
                <v-card-text>
                  <v-form ref="form" v-model="valid">
                    <v-combobox
                      class="input"
                      :items="getStoredBrapiURLs"
                      :rules="[rules.requiredUrl]"
                      :search-input.sync="brapiurl"
                      label="Brapi URL"
                      hint="Example: http://api.gobii.org:8081/gobii-dev/"
                      persistent-hint
                      prepend-icon="mdi-link-plus"
                      type="text"
                      v-model="brapiurl"
                      required
                    ></v-combobox>

                     <v-card>
                      <v-card-text
                        class="mt-50 secondary--text darken-1 font-weight-bold caption"
                        >
                        {{ confidentialMessage}}
                        </v-card-text
                      >
                    </v-card>
                    <v-checkbox
                            :rules="[rules.requiredAgree]"
                            label="I agree"
                            color="success"
                            value="success"
                            v-model="agree"
                            required
                    ></v-checkbox>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    @click="submitForm"
                    :disabled="!valid"
                    :loading="isLoading"
                    color="primary"
                    >submit</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-main>
    </v-app>

    <BaseSnackbar
      v-if="errorOccurred"
      :text="baseSnackBarMessage"
      :type="baseSnackBarType"
      @resetErrorOccuredFlag="errorOccurred = false"
    />
  </div>
</template>

<script>
import Vue from "vue";
import BaseSnackbar from "@/components/shared/BaseSnackbar.vue";
import AuthService from "@/services/auth/AuthService";
import Keycloak from 'keycloak-js';

import { baseSnackbarMethods } from "@/mixins/";
import confidentialTxt from "@/assets/txt/confidentiality.txt";

export default {
  name: "Login",
  components: {
    BaseSnackbar,
  },
  data() {
    return {
      isLoading: false,
      brapiurl: "",
      errorOccurred: false,
      username: "",
      password: "",
      agree: false,
      rules: {
        requiredUrl: (value) => !!value || "URL is required",
        // requiredUsername: (value) => !!value || "Username is required",
        // requiredPassword: (value) => !!value || "Password is required",
        requiredAgree: (value) => !!value || "You must agree to these terms before you can view or download any data."
      },
      valid: true,
    };
  },

  computed: {
    errorMessage() {
      return this.$store.state.bottomSheet.title;
    },

    confidentialMessage(){
      return confidentialTxt;
    },

    getStoredBrapiURLs: function() {
      const storedBrapiURLs =
        JSON.parse(localStorage.getItem("brapiURLs")) || [];
      return storedBrapiURLs;
    },

    showAlert() {
      return this.$store.state.bottomSheetShow;
    },
  },

  created() {
    this.brapiurl = this.$route.query.brapiurl;
  },

  methods: {
    redirect: function() {
      this.$router.push("/steps");
    },

    saveBrapiUrl: function(newURL) {
      let storedBrapiURLs = [];
      storedBrapiURLs = JSON.parse(localStorage.getItem("brapiURLs")) || [];
      storedBrapiURLs.push(newURL);
      localStorage.setItem("brapiURLs", JSON.stringify(storedBrapiURLs));
    },

    submitForm: async function() {
      this.isLoading = true;

      if (!this.$refs.form.validate()) {
        this.valid = false;
      } else {
        const bottomSheetDetail = {
          title: "",
          label: null,
          type: "error",
          show: false,
        };

        this.$store.dispatch("setBottomSheetDetailAction", bottomSheetDetail);

        const credentials = {
          // username: this.username,
          // password: this.password,
          brapiurl: this.brapiurl,
        };

        try {
          const response = await AuthService.loginDetail(credentials);

          if(response.status=200){

            let keycloakDetail = response.data.result.accessFlows[0];

            let initOptions = {
              url:  keycloakDetail.authUrl,
              realm: keycloakDetail.keycloakRealm,
              clientId: keycloakDetail.clientId,
              // id:null,
              onLoad: "login-required",
              "enable_cors": true,
              "cors-allowed-methods":"POST, PUT, DELETE, GET, OPTIONS",
            }

            let keycloak = new Keycloak(initOptions);
            
            keycloak.init({ onLoad: initOptions.onLoad }).then(function(authenticated) {
                    alert(authenticated ? 'authenticated' : 'not authenticated');
                    if (!authenticated) {
                      window.location.reload();
                    }

                }).catch((error) => {
                  
                        console.log(error);
                       this.isLoading = false;
                        const bottomSheetDetail = {
                          title: "Error.",
                          label: null,
                          type: "error",
                          show: true,
                        };
                        this.$store.dispatch("setBottomSheetDetailAction", bottomSheetDetail);

                        const snackBarDetails = {
                          errorMessage: error,
                          type: "error",
                          error: error,
                        };
                        this.updateBaseSnackBarData(snackBarDetails);
                 });
          
                      
                      localStorage.setItem("keycloakUrl", keycloakDetail.authUrl);
                      localStorage.setItem("brapiURL", credentials.brapiurl);
                      this.saveBrapiUrl(credentials.brapiurl);

                       this.$store.dispatch("setAuthUserAction", {
                          // userDisplayName: response.data.userDisplayName,
                          server: credentials.brapiurl,
                        });


                  // Token Refresh
                    // setInterval(() => {
                      
                    //   console.log("setInterval")
                    //   keycloak.updateToken(70).then((refreshed) => {
                    //     if (refreshed) {
                    //       console.log('Token refreshed' + refreshed);
                    //     } else {
                    //       console.log('Token not refreshed, valid for '
                    //         + Math.round(keycloak.tokenParsed.exp + keycloak.timeSkew - new Date().getTime() / 1000) + ' seconds');
                    //     }
                    //   }).catch((error) => {
                    //     console.log(error);
                    //   });
                    // }, 6000)
                    
                    this.$router.push("/steps");
          }
         
         
        } catch (error) {
          this.isLoading = false;
          const bottomSheetDetail = {
            title: "Please double check and try again.",
            label: null,
            type: "error",
            show: true,
          };
          this.$store.dispatch("setBottomSheetDetailAction", bottomSheetDetail);

          const snackBarDetails = {
            errorMessage: error,
            type: "error",
            error: error,
          };
          this.updateBaseSnackBarData(snackBarDetails);
        }
      }
    },
  },
  mixins: [baseSnackbarMethods],
};
</script>
<style scoped>
.errorValidation {
  color: red;
}
</style>
