<template>
  <v-container>
    <p class="display-2">
      <span class="font-weight-light red--text text--lighten-2 text-uppercase">ERROR 404.</span>
      <span class="font-weight-light grey--text text-uppercase">&ensp;Page not found</span>
    </p>

    <router-link to="/">
      <v-btn class="primary">Go Home</v-btn>
    </router-link>
  </v-container>
</template>

<script>
export default {
  name: "PageNotFound"
};
</script>