<template>
  <div id="app">
    <v-spacer></v-spacer>
    <MessageDialog :dialog="dialog" :dialogData="dialogData" />
    <v-app id="inspire">
      <v-stepper v-model="e1" :alt-labels="true">
        <v-stepper-header>
          <v-stepper-step :complete="e1 > 1" step="1">Get data</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e1 > 2" step="2">Filter</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e1 > 3" step="3">Consensus</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="4" :complete="e1 > 4">Split</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="5" :complete="e1 > 5">Export</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <template v-if="showAlert || isInvalidVariantsetsLength">
              <v-alert prominent text :color="alertType" :type="alertType">
                <strong>{{ errorMessage }}</strong>
              </v-alert>
            </template>
            <v-container fluid fill-height>
              <GetData
                @invalidVariantsetsLength="handleInvalidVariantsetsLength"
              />
            </v-container>
            <v-btn
              bottom
              color="primary"
              dark
              fab
              fixed
              right
              @click="goToFilterPage"
            >
              <v-icon>mdi-arrow-right</v-icon>
            </v-btn>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-container fluid fill-height>
              <FilterData />
            </v-container>

            <v-btn bottom color="primary" dark fab fixed left @click="e1 = 1">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-btn
              bottom
              color="primary"
              dark
              fab
              fixed
              right
              @click="goToConsensusPage"
            >
              <v-icon>mdi-arrow-right</v-icon>
            </v-btn>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-container fluid fill-height>
              <Consensus />
            </v-container>

            <v-btn bottom color="primary" dark fab fixed left @click="e1 = 2">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-btn
              bottom
              color="primary"
              dark
              fab
              fixed
              right
              @click="goToSplitPage"
            >
              <v-icon>mdi-arrow-right</v-icon>
            </v-btn>
          </v-stepper-content>

          <v-stepper-content step="4">
            <v-container fluid fill-height>
              <Split />
            </v-container>

            <v-btn bottom color="primary" dark fab fixed left @click="e1 = 3">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-btn
              bottom
              color="primary"
              dark
              fab
              fixed
              right
              @click="goToExport"
            >
              <v-icon>mdi-arrow-right</v-icon>
            </v-btn>
          </v-stepper-content>

          <v-stepper-content step="5">
            <v-container fluid>
              <Export />
            </v-container>

            <v-btn bottom color="primary" dark fab fixed left @click="e1 = 4">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>

            <v-btn
              :disabled="disableDownload"
              bottom
              fixed
              right
              color="accent"
              :loading="isLoading"
              @click="downloadSplitData"
            >
              Download Flapjack file
            </v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-app>
    <BaseSnackbar
      v-if="errorOccurred"
      :text="baseSnackBarMessage"
      :type="baseSnackBarType"
      @resetErrorOccuredFlag="errorOccurred = false"
    />
  </div>
</template>

<script>
import { baseSnackbarMethods, downloadFileMethods } from "@/mixins/";
import { EventBus } from "../event-bus.js";

import BaseSnackbar from "@/components/shared/BaseSnackbar";
import GetData from "../components/GetData";
import FilterData from "../components/FilterData";
import Consensus from "../components/Consensus";
import Split from "../components/Split";
import Export from "../components/Export";
import MessageDialog from "../components/shared/MessageDialog";

import DownloadService from "@/services/local/DownloadService";
import SplitService from "@/services/local/SplitService";

export default {
  name: "Steps",
  data() {
    return {
      e1: 1,
      errorOccurred: false,
      dialog: false,
      noFlapjackFileRequested: false,
      isLoading: false,
      isInvalidVariantsetsLength: null,
      storeDetail: null,
      dialogData: {},
    };
  },
  components: {
    BaseSnackbar,
    GetData,
    FilterData,
    Consensus,
    Split,
    Export,
    MessageDialog,
  },
  computed: {
    isSplit() {
      return this.$store.getters.isSplit;
    },
    hasSplitDownloadUrl() {
      return this.$store.state.splitDownload;
    },
    alertType() {
      return this.$store.state.bottomSheet.type;
    },
    disableDownload() {
      let disable = false;

      if (this.isSplit && !this.hasSplitDownloadUrl) {
        disable = true;
      } else if (this.noFlapjackFileRequested) {
        disable = true;
      }

      return disable;
    },
    errorMessage() {
      return this.$store.state.bottomSheet.title;
    },
    showAlert() {
      return this.$store.state.bottomSheetShow;
    },
  },

  mounted() {
    EventBus.$on("proceedToExport", this.proceedToExport);

    EventBus.$on(
      "proceedToExportWithoutFlapjack",
      this.proceedToExportWithoutFlapjack
    );

    EventBus.$on("remainInSplit", this.remainInSplit);

    EventBus.$on("remainInCurrentPage", this.remainInCurrentPage);
  },
  methods: {
    downloadSplitData: async function() {
      this.isLoading = true;
      //if not split, generate flapjack file first

      if (!this.$store.getters.isSplit) {
        //set SPLIT-GENOTYPES API without the split columns parameter
        const filters = {
          taskType: "SPLIT-GENOTYPES",
          variantSetDbIds: this.$store.getters.getVariantSetsIds,
        };

        if (this.$store.getters.isFiltered) {
          filters.filterTaskId = this.$store.state.filterDetail.taskId;
        }

        if (this.$store.getters.isMapsetSelected) {
          filters.mapDbId = this.$store.state.mapId;
        }

        if (this.$store.getters.isConsensusCalled) {
          filters.consensusTaskId = this.$store.state.consensusDetail.taskId;
        }

        try {
          const response = await SplitService.splitting(filters);
          if (response) {
            //locally save response detail but don't store it to the state
            this.storeDetail = {
              taskId: response.data.taskId,
              taskStatusRefLink: response.data.taskStatusRefLink,
            };

            this.checkSplitStatus();
          }
        } catch (error) {
          /* console.log(
            "error in steps.vue > catch SplitService.splitting(filters)"
          ); */

        this.isLoading = false;
          const snackBarDetails = {
            errorMessage: "Something went wrong. " + error,
            type: "error",
            error: error,
          };
          this.updateBaseSnackBarData(snackBarDetails);
        }
      } else {
        this.downloadFlapjackfile();
      }
    },
    checkSplitStatus: async function() {
      try {
        const response = await SplitService.checkSplitStatus(
          this.storeDetail.taskStatusRefLink
        );

        if (response && response.data.state === "SPLIT-GENOTYPES-COMPLETED") {
          /**
           * Upon fully success Split process, the file download URL will
           * be the last object of the array from the response body.
           */
          const fileDownloadUrl =
            response.data.completedTasks.slice(-1)[0].status?.fileDownloadUrl ||
            null;

          this.$store.dispatch("setSplitDownloadUrlAction", fileDownloadUrl);
          this.downloadFlapjackfile();
          // this.showSplitStatisticsData(response.data.status.statistics);

        } else if (response.data.state === "SPLIT-GENOTYPES-FAILED") {
            this.isLoading = false;

          if(response.data.status.includes("Invalid or Empty Map")){
            this.dialogData = {
                title: response.data.status,
                message:"There are no markers matching your dataset. Map file will not be included with the project file",
                proceedBtnMsg: "Okay",
                cancelBtnMsg: "",
                whenCancelPressed: "",
                whenProceedPressed: "remainInCurrentPage",
              };
              this.dialog = true;

              const filters = {
                taskType: "SPLIT-GENOTYPES",
                variantSetDbIds: this.$store.getters.getVariantSetsIds,
              };

              if (this.$store.getters.isFiltered) {
                filters.filterTaskId = this.$store.state.filterDetail.taskId;
              }

              if (this.$store.getters.isConsensusCalled) {
                filters.consensusTaskId = this.$store.state.consensusDetail.taskId;
              }

            const newresponse = await SplitService.splitting(filters);
            if (newresponse) {
              //locally save response detail but don't store it to the state
              this.storeDetail = {
                taskId: newresponse.data.taskId,
                taskStatusRefLink: newresponse.data.taskStatusRefLink,
              };

              this.checkSplitStatus();
            }
          }

        } else {
          this.checkSplitStatus();
        }
      } catch (error) {
        this.isLoading = false;

         const snackBarDetails = {
            errorMessage: "Something went wrong. " + error,
            type: "error",
            error: error,
          };
          this.updateBaseSnackBarData(snackBarDetails);
        }
    },

    showSplitStatisticsData: function(data) {
      const {
        datasetsStatsByParentsCount,
        datasetsWithReplicates,
        totalSplitDatasets,
      } = data;

      /**
       * Doing Split and not going to the Consensus process will prompt
       * in the success response body that there should be a
       * Consensus Calling for Flapjack batch processing
       * to be successful. This `dataForReplicates`
       * property will be used on what to display
       * in the UI
       */
      let dataForReplicates;
      if (datasetsWithReplicates) dataForReplicates = datasetsWithReplicates;
      else dataForReplicates = null;

      var datasetsByParent = [];
      var zeroOrOne = 0;
      var moreThanTwo = 0;

      if (datasetsStatsByParentsCount !== null) {
        for (const [key, value] of Object.entries(
          datasetsStatsByParentsCount
        )) {
          var obj = {};

          obj["parent"] = key;
          obj["datasets"] = value.datasets;
          obj["datasetsCount"] = value.datasetsCount;

          //avoid duplicate pedver advice
          if (key === 0 || key === 1) {
            if (zeroOrOne === 0) {
              obj["pedverAdvice"] = value.pedverAdvice;
              // zeroOrOne++;
            }
          } else if (key > 2) {
            if (moreThanTwo === 0) {
              obj["pedverAdvice"] = value.pedverAdvice;
              moreThanTwo++;
            }
          } else {
            obj["pedverAdvice"] = value.pedverAdvice;
          }

          datasetsByParent.push(obj);
        }
      }
      this.splitStatisticsData = {
        totalSplitDatasets: totalSplitDatasets,
        datasetsWithReplicates: dataForReplicates,
        datasetsStatsByParentsCount: datasetsByParent,
      };

      this.$store.dispatch("setSplitStatisticsData", this.splitStatisticsData);

      const pedverAdviceWithAllWarnings =
        "THE SPLIT SUMMARY DATASETS ALL HAVE WARNINGS";
      this.$store.dispatch(
        "setSplitWarningForNoConsensus",
        this.splitStatisticsData.datasetsWithReplicates?.pedverAdvice ||
          pedverAdviceWithAllWarnings
      );
    },

    downloadFlapjackfile: async function() {
      try {
        const splitDownloadUrl = this.$store.state.splitDownload;
        const response = await DownloadService.downloadData(splitDownloadUrl);
        this.downloadFile(response.data, "output.flapjack");
      } catch (error) {
        const snackBarDetails = {
          errorMessage: "Error in downloading file",
          type: "error",
          error: error,
        };
        this.updateBaseSnackBarData(snackBarDetails);
      }
      this.isLoading = false;
    },
    handleInvalidVariantsetsLength: function(value) {
      this.isInvalidVariantsetsLength = value;
      if (this.isInvalidVariantsetsLength) {
        const bottomSheetDetail = {
          title: "Maximum of 5 selected studies or variantsets only",
          label: null,
          type: "warning",
          show: true,
        };
        this.$store.dispatch("setBottomSheetDetailAction", bottomSheetDetail);
      }
    },
    goToFilterPage: function() {
      if (this.$store.getters.isVariantSetsSelected) {
        if (!this.$store.getters.isFiltered) EventBus.$emit("resetFilterPage"); // either if null or set to null by selecting a new dataset

        if (this.isInvalidVariantsetsLength === false) {
          const bottomSheetDetail = {
            title: "",
            label: null,
            type: "warning",
            show: false,
          };
          this.$store.dispatch("setBottomSheetDetailAction", bottomSheetDetail);

          this.e1 = 2; // filter is the second step
        }
      } else {
        const bottomSheetDetail = {
          title: "Please select a variantset",
          label: null,
          type: "warning",
          show: true,
        };
        this.$store.dispatch("setBottomSheetDetailAction", bottomSheetDetail);
      }
    },
    goToConsensusPage: function() {
      if (!this.$store.getters.isConsensusCalled)
        EventBus.$emit("resetConsensusPage");

      if (this.$store.getters.isFiltered) {
        let markersRemaining = this.$store.getters.getMarkersRemaining;
        let samplesRemaining = this.$store.getters.getSamplesRemaining;

        if (markersRemaining === 0 || samplesRemaining === 0) {
          this.dialogData = {
            title: "Markers/samples remaining must be greater than 0. ",
            message:
              "There are 0 markers/samples to display. Please try a different filter selection.",
            proceedBtnMsg: "Okay",
            cancelBtnMsg: "",
            whenCancelPressed: "",
            whenProceedPressed: "remainInCurrentPage",
          };
          this.dialog = true;
        } else {
          this.e1 = 3;
        }
      } else this.e1 = 3;
    },
    goToSplitPage: function() {
      if (!this.$store.getters.isSplit) EventBus.$emit("resetSplitPage");
      this.e1 = 4;
      this.noFlapjackFileRequested = false;
    },
    goToExport: function() {
      this.noFlapjackFileRequested = false;
      this.isLoading = false;
      if (!this.$store.getters.isSplit) {
        if (this.$store.getters.isConsensusCalled) {
          let consensusParents = this.$store.getters.getConsensusParents;
          this.dialogData = {
            title:
              "You have not split your file and you do not have 2 parents.",
            message:
              " Do you want to create a project file with " +
              consensusParents +
              " parent(s)?",
            proceedBtnMsg: "Yes",
            cancelBtnMsg: "No",
            whenCancelPressed: "proceedToExportWithoutFlapjack",
            whenProceedPressed: "proceedToExport",
          };
        } else {
          this.dialogData = {
            title: "You have not split your file.",
            message: " Are you sure you want to proceed to the next page? ",
            proceedBtnMsg: "Yes",
            cancelBtnMsg: "No, I will split the data",
            whenCancelPressed: "remainInSplit",
            whenProceedPressed: "proceedToExport",
          };
        }
        this.dialog = true;
      } else {
        this.e1 = 5;
      }
    },
    proceedToExport: function() {
      this.dialog = false;
      this.e1 = 5;
      this.isLoading = false;
      this.noFlapjackFileRequested = false;
    },
    proceedToExportWithoutFlapjack: function() {
      this.dialog = false;
      this.e1 = 5;
      this.isLoading = false;
      this.noFlapjackFileRequested = true;
    },
    remainInSplit: function() {
      this.dialog = false;
    },
    remainInCurrentPage: function() {
      this.dialog = false;
    },
  },
  mixins: [baseSnackbarMethods, downloadFileMethods],
};
</script>
<style scoped>
.v-stepper__content {
  align-content: stretch;
  min-height: 100vh;
}
.v-stepper__header {
  box-shadow: none !important;
  padding-top: 15px;
}
.container {
  justify-content: space-between;
}
</style>
