<template>
  <v-snackbar v-model="snackbar" :color="type" :timeout="timeout" left>
    {{ text }}
    <v-btn text @click="closeSnackbar()">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  name: "BaseSnackbar",
  props: ["text", "type"],
  data() {
    return {
      snackbar: true,
      timeout: 0, // this is so the Snackbar can only be dismissed by the Close button
    };
  },
  methods: {
    closeSnackbar: function() {
      this.snackbar = false;
      /**
       * Resetting the errorOccured flag to false only after closing
       * to ensure that the errorOccured is always set to false
       * assuming if there are also other errors happening.
       */
      this.$emit("resetErrorOccuredFlag");
    },
  },
};
</script>
