<template>
  <v-row>
    <v-dialog persistent v-model="dialog" max-width="490">
      <v-card>
        <v-card-title></v-card-title>
        <v-card-text>
          {{ dialogData.title }}
          <br />
          {{ dialogData.message }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-if="isCancel"
            color="green darken-1"
            text
            @click="cancelPressed"
            >{{ dialogData.cancelBtnMsg }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="proceedPressed">
            {{ dialogData.proceedBtnMsg }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { EventBus } from "@/event-bus.js";

export default {
  name: "MessageDialog",
  props: ["dialog", "dialogData"],
  computed: {
    isCancel() {
      return this.dialogData.whenCancelPressed != null;
    },
  },
  methods: {
    cancelPressed() {
      EventBus.$emit(this.dialogData.whenCancelPressed);
    },
    proceedPressed() {
      EventBus.$emit(this.dialogData.whenProceedPressed);
    },
  },
};
</script>
