<template>
  <v-card class="pa-2" v-if="isSplitSummaryAvailable">
    <v-card-title class="subtitle-1 font-weight-medium">
      <v-icon color="primary" class="mr-2">mdi-clipboard-text</v-icon>
      {{ heading }}
    </v-card-title>

    <v-card-text class="grey--text text--darken-4">
      <p>
        Data was split into
        <span class="success--text font-weight-bold">
          {{ splitStatisticsData.totalSplitDatasets }}
        </span>
        datasets.
      </p>

      <template
        v-if="splitStatisticsData.datasetsStatsByParentsCount.length > 0"
      >
        <p
          v-for="(datasets,
          key) in splitStatisticsData.datasetsStatsByParentsCount"
          :key="key"
        >
          <v-icon color="grey lighten-1">mdi-circle-medium</v-icon>

          <span class="success--text font-weight-bold">{{
            datasets.datasetsCount
          }}</span>

          <span class="grey--text text--darken-2">
            out of
          </span>

          <span class="success--text">{{
            splitStatisticsData.totalSplitDatasets
          }}</span>

          <span v-if="datasets.parent === 2" class="grey--text text--darken-2">
            Split datasets have 2 parents.</span
          >

          <span
            v-else-if="datasets.parent === 0"
            class="grey--text text--darken-2"
          >
            Split datasets have no parent in the same dataset.
          </span>

          <span
            v-else-if="datasets.parent === 1"
            class="grey--text text--darken-2"
          >
            Split datasets have only 1 parent in the same dataset.
          </span>

          <span v-else class="grey--text text--darken-2">
            Split datasets have {{ datasets.parent }} parent(s).
          </span>

          <br />

          <span v-if="datasets.pedverAdvice" class="warning--text pl-6">
            {{ adjustPedverAdvice(datasets.pedverAdvice) }}
          </span>
        </p>
      </template>

      <template v-else>
        <v-alert dense border="left" type="warning" class="body-2">
          {{ splitStatisticsData.datasetsWithReplicates.pedverAdvice }}
        </v-alert>
      </template>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      parentsNumberLessThanTwoAdvice:
        "Please add Parents for Flapjack Pedigree Verification to be successful. Not Included in Project file",
    };
  },

  props: ["heading"],

  methods: {
    adjustPedverAdvice(advice) {
      if (advice === this.parentsNumberLessThanTwoAdvice)
        return "Not Included in Project file";
      return advice;
    },
  },

  computed: {
    splitStatisticsData() {
      return this.$store.state.splitStatisticsData;
    },
    isSplitSummaryAvailable() {
      return this.$store.state.splitStatisticsData !== null ? true : false;
    },
  },
};
</script>

<style scoped>
.scrollable {
  overflow-y: auto;
}

.greenDot >>> .primary {
  background-color: #40a186 !important;
  border-color: #40a186 !important;
}

.greyDot >>> .primary {
  background-color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}
</style>
