<template>
  <v-app id="inspire">
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="white">
      <v-img
        class="mx-2"
        :src="require('./assets/cast_logo_yaw.png')"
        contain
        max-height="60"
        max-width="70"
      ></v-img>
      <v-toolbar-title class="headline mt-3">
        <span class="grey--text mr-2 font-weight-bold">GOBii</span>
        <span class=" primary--text font-weight-bold">C</span>
        <span class="font-weight-light grey--text mr-2">ONSENSUS</span>
        <span class=" primary--text font-weight-bold">A</span>
        <span class="font-weight-light grey--text mr-2">ND</span>
        <span class=" primary--text font-weight-bold">S</span>
        <span class="font-weight-light grey--text mr-2">PLITTING</span>
        <span class=" primary--text font-weight-bold">T</span>
        <span class="font-weight-light grey--text mr-2">OOL</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div v-if="auth">
        <v-menu open-on-hover left bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
              {{ user }}
              <v-icon style="lp2">mdi-account-circle</v-icon>
            </v-btn>
          </template>

          <v-list dense shaped>
            <v-list-item>
              <v-list-item-subtitle>{{ server }}</v-list-item-subtitle>
            </v-list-item>
            <v-list-item @click="onLogout">
              <v-list-item-icon>
                <v-icon>mdi-logout</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </v-app-bar>
    <v-main>
      <br />
      <br />
      <v-slide-y-transition>
        <router-view />
      </v-slide-y-transition>
    </v-main>
  </v-app>
</template>

<script>
import { updateAuthInstance } from "@/services/auth/AuthApi";
import KeycloakService from "@/services/auth/KeycloakService";

export default {
  name: "App",
  created() {
    const token = localStorage.getItem("token");
    if (!token) return;

    const userDName = localStorage.getItem("userDisplayName");
    const server = localStorage.getItem("brapiURL");
    const redirectUri = localStorage.getItem("redirectUri");

    this.$store.dispatch("setAuthUserAction", {
      token: token,
      userDisplayName: userDName,
      server: server,
      redirectUri: redirectUri
    });

    updateAuthInstance(token);

    this.$router.push("/steps");
  },

  computed: {
    auth() {
      return this.$store.state.idToken !== null;
    },
    user() {
      return this.$store.state.userDisplayName;
    },
    server() {
      return this.$store.state.server;
    },
  },
  methods: {
    onLogout() {

      KeycloakService.logoutRedirect();
     
     
    },
  },
};
</script>

<style>
.container {
  align-content: flex-start;
}
.logout {
  background-color: white;
  border: none;
  font: inherit;
  cursor: pointer;
}
.row {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
</style>
